
@_purpletint: #D5C3DB;

//====================================================
@grayA: #2a3034;
@gray1: #524A50;
@gray2: #71646B;
@gray3: #CBC3B7;
@gray4: #FAFAF4;

@cell-border: lighten(@gray3, 15%);
@selection-color: fadeout(desaturate(@gray3,40%),80%);
@table-fade-bg: white;
@table-backing: white;
@view-backing: #F5F5F2;
@table-border: #CBC3B7;
@table-font-color: #333;

@purple1: #54365E;
@purple2: #7F5E8A;
@purple3: #AF86BD;
@purple4_ur: #A041BF;
@purple4: darken(@purple4_ur, 20%);

@blue1: steelblue;
@blue4: lighten(steelblue, 49%);
@purple5: lighten(#A041BF, 20%);

@orange3: #FF5845;

@navy1: #354551;
@navy2: lighten(@navy1, 10%);

@gray-trans: rgba(102, 81, 81, 0.1);

@green1: #079538;
@green2: lighten(@green1, 5%);
@green3: #5DEE94;
@green4: saturate(lighten(@green1, 50%),-60%);






@teal: #EFF6EA;

@green-trans: hsla(134,  50%, 70%, 0.1);
@purple-trans: hsla(301, 44%, 70%, 0.3);
@red-bright-trans: hsla(346, 100%, 40%, 20%);
@red-bright: #D9365C;

@red2: #D93692;
@red3: lighten(@red2, 20%);
@red4: desaturate(lighten(@red2, 43%),10%);


@bluegray-1: #6D6773;
@bluegray-2: #504854;

.shadowed-menu {
  border-width: 1px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 3px;
  border-right-width: 2px;
  border-style: solid;

  border-radius: 3px;

  box-shadow: 0 1px 3px 1px #DDD;
  box-shadow: 0 0 0 3px #FFF;
}


.newgreen-stripe {
	background:url(
	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIAKwT7X4z0hIHUjRz+wTjHgVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQCcJiXerlSgIwAAAABJRU5ErkJggg==
    ) repeat;
}



@viewBgColor: @gray4;

//===========================================
@headerBorderColor: transparent;
@headerBorderHilite: @blue1;
@menuBorderColor: transparent;
@headerBorderRadius: 3px;
@headerOuterBorderWidth: 5px;
@headerOuterBorderColor: @green-trans;

@headerBgColor: @gray4;

@menuItemBorderRadius: 2px;
@headerBorderWidth: 1px;
// @headerMenuBgColor: #746e7c;
@headerBgLight1: desaturate(darken(steelblue, 8%), 5%);
@headerMenuBgColor: darken(@headerBgLight1, 15%);
// @headerBgLight2: desaturate(lighten(@headerMenuBgColor, 8%), 5%);
@headerBgLight2: #f2f2f3;

@headerBgLight3: lighten(@headerBgLight2, 50%);


@headerBgLight0: lighten(@headerMenuBgColor, 17%);
@headerBgLight05: lighten(@headerMenuBgColor, 8%);
@headerBgDark: lighten(@headerMenuBgColor, 5%);

@headerMenuBgHilite: white;
@headerLightBgColor: white;
// @headerMenuBgHilite: lighten(@headerMenuBgColor, 0.7%);
@headerMenuBorderColor: @headerBgLight1;
@menuLightBorder: @gray4;
// @headerMenuBorderColor: rgba(255,255,255,0.7);
// @headerFontColor: rgba(255,255,255,0.7);
@headerFontColor: darken(@headerMenuBgColor, 25%);
@headerFontSize: 16px;
@headerOuterHilite: @green1;

@pointerSize: 16px;

@lightFontColor: fadeout(white, 20%);
@darkFontColor: lighten(@headerMenuBgColor, 10%);

.msInput {
  display: inline-block;
  padding: 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid @headerBorderColor;
  color: @headerFontColor;
  margin: 0;
  margin-bottom: -1px;
  border-radius: 0;
}

.gray-out {
  -webkit-filter: saturate(0.1) contrast(0.5) brightness(1.30) sepia(10%);
}

@bodyFont: "Helvetica Neue LT W04_45", "Helvetica", sans-serif;
@subheaderFont: "Helvetica Neue LT W06_61366420";
@headerFont: "Helvetica Neue LT W06_61366420";

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}

.clickable {
  cursor: pointer;
}

.transform(@string){
  -webkit-transform: @string;
  -moz-transform:    @string;
  -ms-transform:     @string;
  -o-transform:      @string;
}

.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}

.draggable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
