
@grayA: #2a3034;
@gray1: #524A50;
@gray2: #71646B;
@gray3: #CBC3B7;
@gray4: #FAFAF4;

@purple1: #54365E;
@purple2: #7F5E8A;
@purple3: #AF86BD;
@purple4: #A041BF;
@purple5: lighten(#A041BF, 20%);

@orange3: #FF5845;

@navy1: #354551;
@navy2: lighten(@navy1, 10%);

@gray-trans: rgba(102, 81, 81, 0.1);

@newgreen1: #079538;
@newgreen2: lighten(@newgreen1, 5%);
@green-light: saturate(lighten(@newgreen1, 50%),-60%);
@green5: #F2FDF5;

@teal: #EFF6EA;

@green-trans: hsla(134,  50%, 70%, 0.1);
@purple-trans: hsla(301, 44%, 70%, 0.3);
@red-bright-trans: hsla(346, 100%, 40%, 20%);
@red-bright: #D9365C;


@bluegray-1: #6D6773;
@bluegray-2: #504854;

.newgreen-stripe {
	background:url(
	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwALYp1r8Z0QXBwn+zD7BiCIBEwQphksgC8Il0AXBEtgEQRIAyLsV2q2phJ4AAAAASUVORK5CYII=
    ) repeat;
}


.sunburst-light {
background: rgba(247,248,250,1);
}