@font-face{
font-family:"Helvetica Neue LT W06_61366420";
src:url("../assets/fonts/12223951-cdd3-4695-baf6-ad6f37ad0080.eot?#iefix") format('embedded-opentype');
src:url("../assets/fonts/12223951-cdd3-4695-baf6-ad6f37ad0080.eot?#iefix") format("eot"), 
url("../assets/fonts/e535ec76-8fc8-4985-94e6-9246a2c6b245.woff2") format("woff2"), 
url("../assets/fonts/67da9da8-4b53-4407-9184-abce69bfc8b5.woff") format("woff"), 
url("../assets/fonts/50c055be-3621-4f89-8028-46c57c000b5d.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue LT W04_45";
  src:url("../assets/fonts/8354ea91-308b-4fd0-9822-223ad8497bd3.eot?#iefix");
  src:url("../assets/fonts/8354ea91-308b-4fd0-9822-223ad8497bd3.eot?#iefix")
    format("eot"),url("../assets/fonts/488c4643-af87-4189-bb4f-171dea9ea41d.woff2")
    format("woff2"),url("../assets/fonts/556dc087-1c20-4822-b6df-1389f6b4e08f.woff")
    format("woff"),url("../assets/fonts/5f2dd72f-3779-49cd-a78c-db5f4085deb3.ttf")
    format("truetype"),url("../assets/fonts/1b8634c8-006a-49c6-aaf3-04a56845d964.svg#1b8634c8-006a-49c6-aaf3-04a56845d964")
    format("svg");
}

// ==============================

@bodyFont: "Helvetica Neue LT W04_45", "Helvetica", sans-serif;
@subheaderFont: "Helvetica Neue LT W06_61366420";
@headerFont: "Helvetica Neue LT W06_61366420";