@import "./colors.less";
@import "./iconVendor.css";

.icon {
	font-size: 20px;
	width: 20px;
	max-width: 20px;
	.noselect;
	margin-right: 8px;
	vertical-align: text-bottom;
	
	&.grayed {
		color: @gray3;
	}

	&.green {
		color: @newgreen1;
	}

	&.purple {
		color: @purple4;
	}

	&.blue {
		color: steelblue;
	}

	&.red {
		color: @red-bright;
	}
}

.icon-detail-right {
	float: right;
}

.icon-detail-left {
	float: left;
}

.icon-detail-right, .icon-detail-left {
	color: @gray3;
	margin: 0 !important;
	padding-top: 10px;
	padding-right: 0;
	font-size: 13px;
}

.icon-hilite {
	background: steelblue;
	color: white;
	// border: 1px solid white;
	// border-radius: 4px;
	padding: 5px !important;
}

.icon-selectable {
	padding: 5px !important;
}

.rotate-90 {
	display: block;
	transform: rotate(90deg);
}

.icon--large {
	font-size: 30px !important;
	width: 30px;
	vertical-align: text-middle;
}

.icon--small {
	font-size: 10px !important;
}


