@import "./colors.less";

.icon {
	font-weight: 400;
	text-align: center;
	.noselect;
	font-size: 17px;
	min-width: 25 px;
	margin-right: 8px;

	&.right-align {
		float: right;
	}

	&.small {
		font-size: 11px;
		margin-right: 6px;
	}

	&.large {
		font-size: 24px;
    margin-right: 12px;
	}


  &.grayed {
    color: @gray3;
  }

	

  &.green {
    color: @newgreen1;
  }

  &.red {
    color: @red-bright;
  }
}
