@import "../global.less";


.menu-input {
  
  position: relative;
  display: inline-block;

	height: 20px;
  line-height: 20px;

  left: 0;
  right: 0;
  padding: 2px;
  margin: 0;
  min-width: 50px;

  // border-radius: @menuItemBorderRadius;
  background: white;

  font-family: @bodyFont;
  color: @headerFontColor;
  font-size: 16px;
  outline: none;
  transition: background ease-in 100ms;
  &:focus, &:hover {
    // border: 1px solid  @green1;
    // background: @headerBgLight3;
  }


}

.text-input {
  background: white;
  border: 1px solid @menuLightBorder;
  // border-radius: @menuItemBorderRadius;
  outline: none;
  &::selection {
    background: @gray3 !important;
  }
}

.menu-input-selector {
  padding: 5px;
  border: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border: 1px solid @gray3;
  // -webkit-appearance: none;
  outline: none;
}

.hovershow {
  opacity: 0;
}
div:hover > .hovershow {
  opacity: 100%;
  color: @gray3;
}
