@import "./colors.less";
@import "./menus/popDown.less";
@import "./menus/popDownMenu.less";
@import "./menus/wizard.less";

.drag-grid {
	position: absolute;
	left: 3px;
	top: 3px;
	bottom: 3px;
	float: left;
	width: 12px;
	max-width: 12px;
	margin-left: 0px !important;
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2NkQAOMIH55efn/zs5OMBtMIAMMAQCsfgQF6d4DGgAAAABJRU5ErkJggg==
    ) repeat;
}

.menu-empty-item {
	text-align: center;
	font-style: italic;
}

.menu-title {
	font-size: 12px;
	height: 18px !important;
	line-height: 18px !important;
	padding: 0 8px;
	text-transform: uppercase;
}

.menu-item {
	z-index: 5;
	display: flex;

	text-decoration: none;
	padding: 0;
}

.menu-button {
	background: @gray4;
	border: 1px solid @red-bright;
	// border-radius: 3px;
	margin: 5px !important;
	line-height: 28px;
	min-height: 28px;
	font-size: 12px;
	text-transform: uppercase;
}

.menu-sub-item-draggable {
	padding-left: 20px !important;
}

.menu-sub-item {
	position: relative;
	text-align: left;

	height: 30px;
	line-height: 30px;
	padding: 1px 6px;
	margin: 0;
	
	text-decoration: none;
	display: flex;
	flex: 1 1;
	cursor: pointer;

	transition: background ease-in 100ms;

	
}