@import "../global.less";



// ============================================================================

.fadein-appear, .fadein-enter, {
  opacity: 0.01;
  transform: translate3D(0,0,0);
}

.fadein-appear-active, .fadein-enter-active {
  opacity: 1;
  transform: translate3D(0,0,0);
  transition: opacity linear 50ms;
}

.fadein-leave {
  transform: translate3D(0,0,0);
  opacity: 1;
  
}

.fadein-leave-active {
  opacity: 0.01;
  transform: translate3D(0,0,0);
  transition: all  cubic-bezier(.16,.85,.5,1) 50ms;
}

// ===========================================================================

.slideup-appear, .slideup-enter {
  opacity: 0.01;
  transform: translate3D(0,50px,0);
}

.slideup-appear-active, .slideup-enter-active {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: all  linear 100ms;
}


.slideup-leave {
  transform: translate3D(0,0,0);
  opacity: 1;
  transition: all  linear 100ms;
  
}

.slideup-leave-active {
  opacity: 0.01;
  // transform: translate3D(0,-50,0);
  transition: all  linear 100ms;
}

// ============================================================================

.fadeinout-appear, .fadeinout-enter, .fadein-enter {
  opacity: 0.01;
  transform: translate3D(0,0,0);
}

.fade-in-enter-active {
  opacity: 1;
  transform: translate3D(0,0,0);
  transition: opacity cubic-bezier(.16,.85,.5,1) 1000ms;
}

.fadeinout-appear-active, .fadeinout-enter-active {
  opacity: 1;
  transform: translate3D(0,0,0);
  transition: opacity cubic-bezier(.16,.85,.5,1) 300ms;
}

.fadeinout-leave {
  transform: translate3D(0,0,0);
  opacity: 1;
  
}

.fadeinout-leave-active {
  opacity: 0.01;
  transform: translate3D(0,0,0);
  transition: opacity cubic-bezier(.16,.85,.5,1) 300ms;
}


// ============================================================================

 
.slideleft-enter {
  opacity: 0.01;
  transform: translate3D(80px,0,0);
}

.slide-invert.slideleft-enter {
  transform: translate3D(80px,0,0) !important;
}

.slideleft-appear {
  opacity: 0.01;
  // transform: translate3D(0,-100px,0);
}

.slideleft-enter-active, .slideleft-appear-active {
  opacity: 1;
  transform: translate3D(0,0,0);
  transition: all cubic-bezier(.16,.85,.5,1) 150ms;
}





.slideleft-leave {
  transform: translate3D(0,0,0);
  opacity: 1;
  
}

.slideleft-leave-active {
  opacity: 0.01;
  transform: translate3D(-80px,0,0);
  transition: all cubic-bezier(.16,.85,.5,1) 150ms;
}

.slide-invert.slideleft-leave-active {
  transform: translate3D(-80px,0,0) !important;
}


// ============================================================================

