@import "./colors.less";
@import "./menus/popDown.less";
@import "./menus/popDownMenu.less";

.drag-grid {
	min-height: 30px !important;
	float: left;
	width: 12px;
	max-width: 12px;
	height: 100%;
	margin-right: 10px;
	margin-left: 0px !important;
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2NkQAOMIH55efn/zs5OMBtMIAMMAQCsfgQF6d4DGgAAAABJRU5ErkJggg==
    ) repeat;
}

.attribute-name-label {
	font-family: @headerFont;
}

.header-section {
	margin-top: 20px;
	background: @headerMenuBgColor;
	border-radius: 3px;
}

.header-config-section {
	border-radius: 3px;
}

.header-label {
	font-family: @headerFont;
	text-align: left;
	padding: 20px 10px;
	border-bottom: 1px solid @headerBgLight2;

}



.model-views-menu {
	margin-top: 4px;
	position: relative;
	display: flex;
	height: 40px;
	// flex-direction: row;
	cursor: pointer;
}




.menu-item {
	display: block;
	text-decoration: none;
	min-height: 40px;
	color: @lightFontColor;
}

.menu-item-singleton {
	border: none !important;
	position: absolute !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
}

.menu-item-stacked {
	flex-direction: column !important;
}

.column-menu-item-width {
	min-width: 500px;
}

.menu-selected {
	color: @newgreen1 !important;
}

.menu-item-light {
	background: white;
	color: black;
}

.empty-item {
	color: @gray3 !important;
}

.menu-box {
	background: @headerBgDark;
	padding: 6px;
	border-radius: @headerBorderRadius;
}



.menu-empty-item {
	text-align: center;
	font-style: italic;
	color: @gray3;
}

.menu-sub-item--hilite {
	border-left: 5px solid @newgreen1 !important;
}

.menu-divider {
	text-align: center !important;
	border-bottom: 1px dotted @headerBgLight2;
}


.menu-sub-item {
	border-left: 5px solid transparent;

	height: 30px;
	min-height: 32px;
	line-height: 32px;
	padding: 4px 6px;
	margin: 0;
	

	&.no-left-padding {
		padding-left: 0;
	}

	text-decoration: none;
	display: flex;
	flex: 1 1;
	cursor: pointer;

	transition: background ease-in 100ms;

	& > span {
		flex: 1 1;
		white-space: nowrap;
		margin: 0 5px;
		min-height: 30px;
		line-height: 30px;

		&.strike-through {
			text-decoration: line-through;
		}

		&.ellipsis {
			.ellipsis;
		}

		&.double {
			flex: 2 2;
		}
		&.triple {
			flex: 3 3;
		}
		&.icon {
			min-width: 25px;
			&.wide {
				min-width: 40px;
			}
			flex: 0;
			flex-grow: 0;
		}
	}
}

.menu-item.dragging {
	z-index: 105;
	background: @headerBgDark;
}

.menu-sub-item.warning-item {
	color: @red-bright;
}
