@import "../global.less";


.menu-input {
  
  position: relative;
  display: inline-block;
	height:30px;
	line-height: 30px;
  width: 100%;
  padding: 0;
  padding-left: 3px;
  margin: 0;

  border-radius: @menuItemBorderRadius;
  background: @headerMenuBgColor;

  font-family: @bodyFont;
  color: @headerFontColor;
  font-size: 15px;
  outline: none;
  transition: background ease-in 100ms;
  &:focus, &:hover {
    // border: 1px solid  @purple4;
    background: lighten(@headerMenuBgColor, 5%);
  }

}

.menu-input.text-input {
  background: none;
  border: none;
  background: @headerBgDark;
  // border-bottom: 1px solid @headerFontColor;
}

.menu-input.selector {
  padding: 0;
  background: @headerBgDark;
  border: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  // border: 1px solid @headerFontColor;
  // -webkit-appearance: none;
}

.hovershow {
  opacity: 0;
}
div:hover > .hovershow {
  opacity: 100%;
  color: @gray3;
}
