@import "../global.less";

.pop-down {
	position: relative;
	display: inline-block;
	height:30px;
	line-height: 30px;
	padding: 0 5px;
	margin: 0;
	margin-right: 5px;
	background: @headerBgDark;
	border-radius: @menuItemBorderRadius;
	overflow: visible;

	&.active {
		background: @headerFontColor;
		color: @headerBgDark;
	}

	&.open {
		z-index: 2;
		background: white;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.pop-down-pointer-outer, .pop-down-pointer-inner, .pop-up-pointer-inner, .pop-up-pointer-outer {
	position: absolute;
	margin: 0; 
	padding: 0;
	width: 0;
	height: 0;
}



pop-down-pointer-inner, .pop-up-pointer-inner {
	z-index: 11;
}

.pop-down-pointer-outer {
	border-left: @pointerSize/2 solid transparent;
	border-bottom: @pointerSize/2 solid @headerMenuBorderColor;
	border-right: @pointerSize/2 solid transparent;
	border-top: @pointerSize/2 solid transparent;
	left: @pointerSize/2;
	margin-top: -1 * @pointerSize;
	top: 0;
}

.pop-down-pointer-inner {
	border-left: @pointerSize/2  solid transparent;
	border-bottom: @pointerSize/2 solid white;
	border-right: @pointerSize/2 solid transparent;
	border-top: @pointerSize/2 solid transparent;
	left: @pointerSize/2;
	margin-top: -1 * @pointerSize + 1px;
	top: 0;
}

.pop-up-pointer-outer {
	border-left: @pointerSize/2 solid transparent;
	border-bottom: @pointerSize/2 solid transparent;
	border-right: @pointerSize/2 solid transparent;
	border-top: @pointerSize/2 solid @headerMenuBorderColor;
	left: @pointerSize/2;
	margin-bottom: -1 * @pointerSize;
	bottom: 0;
}

.pop-up-pointer-inner {
	border-left: @pointerSize/2  solid transparent;
	border-bottom: @pointerSize/2 solid transparent;
	border-right: @pointerSize/2 solid transparent;
	border-top: @pointerSize/2 solid white;
	left: @pointerSize/2;
	margin-bottom: -1 * @pointerSize + 1px;
	bottom: 0;
}

.pop-up-menu {
	bottom: 100%;
	flex-direction: column-reverse;
	margin-bottom: @pointerSize/2 - 2;
}

.pop-down-menu {
	top: 100%;
	flex-direction: column;
	margin-top: @pointerSize/2 - 2;
}

.key-shortcut {
	color: @gray3;
	float: right;
}

.fly-in-left, .fly-in-right, .fly-in--done, .fly-in--done {
	.transition(margin cubic-bezier(.1,.85,.5,1) 250ms);
}

.fly-in-left {
	margin-left: -50px !important;
}

.fly-in-right {
	margin-right: -50px !important;
}


.fly-in-left--done, .fly-in-right--done, .fly-in--done {
	margin-left: 0;
	margin-right: 0;
}


.pop-down-menu, .pop-up-menu {
	min-width: 250px;
	position: absolute;
	display: flex;

	left: 0;
	padding: 5px;
	margin-left: -1px;
	margin-right: -1px;
	
	border-radius: 0;
	list-style: none;
	border: 1px solid @headerMenuBorderColor;
	.transition(max-height cubic-bezier(.1,.85,.5,1) 250ms);
	background: white;
	box-shadow: 0 0 0 2px white;
	
	font-family: @bodyFont;
	color: @headerFontColor;
	font-size: 15px;

	transform: translateZ(12px);
	pointer-events: auto;
	z-index: 10;

	& > li {
		display: block;
		position: relative;
		pointer-events: auto;

		padding: 3px 6px;
		margin: 0;
		text-align: left;
		height: auto;
		cursor: pointer;
		height: 30px;
		line-height: 30px;

		&.bottom-divider {
			border-bottom: 1px dotted @headerMenuBorderColor;
		}
		&.top-divider {
			border-top: 1px dotted @headerMenuBorderColor;
		}
		&.top-line {
			border-top: 1px solid @headerMenuBorderColor;
		}
		&.hilite, &.selectable:hover {
			background: @gray4;
		}
		&.menu-selected {
			color: @newgreen1;
		}
	}
}

.header-section {
	flex-direction: column;
	display: flex;
	flex: 1;
	flex-grow: 1;
	max-width: 300px;
	min-width: 150px;
	padding: 0 10px;
	border-right: 1px solid @headerMenuBorderColor;
	&:last-child {
		border-right: none;
	}
}

.double.header-section {
	flex: 2;
	flex-grow: 2;
	max-width: 600px;
	min-width: 300px;
}

.header-label {
	text-transform: uppercase;
	font-size: 12px;
	flex-direction: column;
	padding: 0;
	text-align: center;
  color: @headerFontColor;
}

.model-views-menu {
	margin-top: 8px;
	position: relative;
	display: flex;
	flex-direction: row;
	cursor: pointer;

	.menu-item {
		color: @headerFontColor;
	}

}

.model-views-menu-inner {
	display: flex;
	flex: 1 1;
	height: 40px;
	overflow: visible;
	background: @headerMenuBgColor;
	margin: 0 !important;
	border: 1px solid @headerBorderColor;
	overflow: visible;

}

.dropdown {
	background: @headerMenuBgColor;
	display: flex;
	height: 30px;
	line-height: 30px;
	padding: 10px;
	text-align: center;

	margin: 0 !important;
	text-align: center;
	vertical-align: middle;
}

.dropdown-list {
	padding: 0;
	margin: 0;
}

.dropdown-menu {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100;
	z-index: 300;
	border-radius: 0;
	border: 1px solid @headerMenuBorderColor;
	background: @headerMenuBgColor;
	color: @headerFontColor;
}

.dropdown-menu-light {
	background: white;
	color: black;
	border: 1px solid @newgreen1;
}


.menu-item {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	// border-top: 1px dotted @headerFontColor;
	&.singleton {
		border: none !important;
		position: absolute !important;
		top: 0;
		bottom: 0;
		left: 0;
		right: 30px !important;
		margin: 0;
	}

	&.menu-selected {
		color: @newgreen1;
	}
}

.menu-item-light {
	background: white;
	color: black;
}

.empty-item {
	color: @gray3 !important;
}

.menu-box {
	background: @headerBgDark;
	padding: 6px;
	border-radius: @headerBorderRadius;
}

.menu-sub-item {
	height: 30px;
	line-height: 30px;
	padding: 10px;
	margin: 0;
	

	&.no-left-padding {
		padding-left: 0;
	}

	text-decoration: none;
	display: flex;
	flex: 1 1;
	cursor: pointer;

	& > span {
		flex: 1 1;
		white-space: nowrap;
		margin: 0 5px;
		min-height: 30px;
		line-height: 30px;
		position: relative;

		&.strike-through {
			text-decoration: line-through;
		}

		&.ellipsis {
			.ellipsis;
		}

		&.double {
			flex: 2 2;
		}
		&.triple {
			flex: 3 3;
		}
		&.icon {
			min-width: 25px;
			&.wide {
				min-width: 40px;
			}
			flex: 0;
			flex-grow: 0;
		}
	}
}

.menu-item.dragging {
	z-index: 305;
	background: @headerBgDark;
}

.menu-sub-item.warning-item {
	color: @red-bright;
}


.menu-divider {
	border-top: 1px solid @headerBorderColor !important;
}

.menu-section:first-child {
	.menu-divider {
		border-top: none;
	}
}

.menu-config-row {
  	border-top: 1px solid @headerMenuBorderColor;
  	.menu-sub-item {
		// text-align: center;
		border-left: 1px solid @headerMenuBorderColor;
		&:hover {
			background: @headerMenuBgColor;
		}
		&.border-bottom {
			border-bottom: 1px solid @headerMenuBorderColor;
		}
  	}
	.menu-sub-item:first-child {
		border-left: none;
	}
}


.menu-divider-label {

}
