@import "../global.less";




// ============================================================================

.fadeinout-appear, .fadeinout-enter {
  opacity: 0.01;
  transform: translate3D(0,0,0);
}

.fadeinout-appear-active, .fadeinout-enter-active {
  opacity: 1;
  transform: translate3D(0,0,0);
  transition: opacity cubic-bezier(.16,.85,.5,1) 300ms;
}

.fadeinout-leave, .fadeout-leave {
  transform: translate3D(0,0,0);
  opacity: 1;
  
}

.fadeinout-leave-active, .fadeout-leave-active {
  opacity: 0.01;
  transform: translate3D(0,0,0);
  transition: opacity cubic-bezier(.16,.85,.5,1) 300ms;
}


// ============================================================================

 
.slideleft-enter {
  opacity: 0.01;
  transform: translate3D(80px,0,0);
}

.slideleft-appear {
  opacity: 0.01;
  transform: translate3D(0,-400px,0);
}

.slideleft-enter-active, .slideleft-appear-active {
  opacity: 1;
  transform: translate3D(0,0,0);
  transition: all cubic-bezier(.16,.85,.5,1) 125ms;
}

.slideleft-leave {
  transform: translate3D(0,0,0);
  opacity: 1;
  
}

.slideleft-leave-active {
  opacity: 0.01;
  transform: translate3D(-80px,0,0);
  transition: all cubic-bezier(.16,.85,.5,1) 125ms;
}


// ============================================================================

