@import "./colors.less";

.view-config-menu {
	position: absolute;
	display: block;
	bottom: 100%;
	margin-bottom: 18px;
	width: 300px;
	border: 1px solid @gray3;
	
	border-bottom-right-radius: 0;
	border-radius: 3px;
	background: white;
	
	box-shadow: 2px 2px 0 0 lightgray;
}

.menu-pointer-outer {
	position: absolute;
	bottom: 0; 

	margin-bottom: -24px;
	
	border-width: 12px;
	border-style: solid;
	
	border-color: transparent;
	border-top-color: @gray3;
	
	
}

.menu-pointer-inner {
	position: absolute;
	bottom: 0;

	margin-bottom: -22px;
	
	border-width: 12px;
	border-style: solid;
	
	border-color: transparent;
	border-top-color: white;
	
}

.view-config-item,
.view-config-item--pushed,
.view-config-item--active
{
	perspective: 1em;
	position: relative;
	border: 1px solid @purple4;
	padding: 8px;
	border-radius: 22px;
	margin-right: 10px;
	cursor: pointer;
	transition: all 75ms linear;
	
	box-shadow: 2px 2px 0 0 lightgray;
}
.view-config-item {
	background: white;
	color: @purple4;
	&:hover {background: @gray4;}
}
.view-config-item--pushed {
	color: @purple4;
	background: @gray4;
	transform: translate(2px, 2px);
	box-shadow: 0 0 0 0 lightgray !important;
}
.view-config-item--active {
	background: white;
	color: @purple4;
	
}

.label-text {
	display: block;
}