@import "./colors.less";

.view-config-bar {
	margin: 0;
	width: 60%;
	display: flex;
	flex-direction: row;
}

.view-config-menu {
	margin-left: -20px;
	position: absolute;
	top: 100%;
	margin-top: 5px;
	min-width: 300px;
	background: white;
	display: block;

	z-index: 50;
	transform: translateZ(50px);

	border-color: @gray3;
	.shadowed-menu;
}

.menu-pointer-outer {
	position: absolute;
	top: 0;
	left: 15px;

	margin-top: -24px;
	
	border-width: 12px;
	border-style: solid;
	
	border-color: transparent;
	border-bottom-color: @gray3;
}

.menu-pointer-inner {
	position: absolute;
	top: 0;
	left: 15px;

	margin-top: -23px;
	
	border-width: 12px;
	border-style: solid;
	
	border-color: transparent;
	border-bottom-color: white;
	
}

.selector-style {
	height: auto; 
	border-radius: 3px;
}

.view-config-item,
.view-config-item--pushed,
.view-config-item--active
{
	padding: 0 8px;
	text-align: center;
	position: relative;
	
	border-right: none;

	
	cursor: pointer;
	transition: all 75ms linear;
}

.view-config-item {
	// background: white;
	// color: @blue1;
	// &:hover {background: @gray4;}
}
.view-config-item--pushed {
	color: white;
	background: @purple4;
}
.view-config-item--active {
	
	// color: @blue1;
	
}

.label-text {
	display: block;
}