@import "../../global.less";

body {
	background-color: #F5F5F5;
	font-family: @bodyFont;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

h1, h2, h3, h4, h5 {
	font-family: @headerFont;
}

.application {
	display: flex;
	flex-direction: column;
  min-height: 100vh;
}

.model-views {
	display: flex;
	flex-direction: column;
	flex: 1;
	flex-grow: 1;
	order: 1;
	padding: 0;
	overflow: hidden;
}

.model-panes {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	flex-grow: 1;
}

.view-bar {
	display: block;

	padding: 0;
	background: @gray4;
	border-bottom: 1px solid @gray3;
}

.view-config {
	display: flex;
	flex-direction: row;
	padding: 10px;
	min-height: 40px;
}

.view-body-wrapper {
	position: relative;
	flex: 1;
	flex-grow: 1;
}
