@import "../../global.less";

body {
	background-color: #F5F5F5;
	font-family: @bodyFont;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

h1, h2, h3, h4, h5 {
	font-family: @headerFont;
}

#content {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.application {
	display: flex;
	flex: 1;
	max-height: 100vh;
}