@import "../../global.less";
 	
#copy-paste-dummy {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 1px;
	height: 1px;
	background: none;
	border: none;
	outline: none;
	opacity: 0;
	border: 0;
	pointer-events: none;
}

body {
	font-family: @bodyFont;
}

h1, h2, h3, h4, h5 {
	font-family: @headerFont;
}

.application {
	.flex-display;
	.flex-direction(column);
	min-height: 100vh;
	height: 100%;
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEklEQVQIW2P8////f0YQYIACAD4dBAOyWWJYAAAAAElFTkSuQmCC
	) repeat;
}

.model-views {
	.flex-display;
	.flex-direction(column);
	.flex(1);
	.flex-grow(1);
	.noselect;
	order: 1;
	padding: 0;
	overflow: hidden;
	position: absolute;
	bottom: 50px;
	top: 0;
	left: 0;
	right: 0;
}

.model-panes {
	position: relative;
	.flex-display;
	.flex-direction(column);
	.flex(1);
	.flex-grow(1);

	margin: 0;
	// margin-top: -1px;
	// overflow: hidden;
	.noselect;
}

.view-bar {
	display: block;
	padding: 0;
	background: @headerMenuBgColor;
	.noselect;
}

.view-config {
	.flex-display;
	.flex-direction(row);
	padding: 6px;
	min-height: 40px;
	border-top: 1px solid @headerMenuBorderColor;
	border-bottom: 1px solid @headerMenuBorderColor;
}

.view-body-wrapper {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
