.title {
	font-family: @headerFont;
}

.pop-up-menu {
	bottom: 100%;
	
	&.invert {
		flex-direction: column-reverse;
	} &:not(.invert) {
		flex-direction: column;
	}
	margin-bottom: @pointerSize/2 - 4px;
}

.pop-down-menu {
	// top: 100%;

	&.invert {
		flex-direction: column-reverse;
	} &:not(.invert) {
		flex-direction: column;
	}
	// margin-top: @pointerSize/2 - 4px;
}

.key-shortcut {
	color: @gray3;
	float: right;
}

.pop-down-menu, .pop-up-menu {

	padding:  0;
	margin: 0;

	list-style: none;

	min-width: 250px;
	position: absolute;
	display: block;
	
	list-style: none;
	background: white;
	// box-shadow: 0 0 0 4px rgba(255,255,255,0.3);

	&.green {
		border: 1px solid @green1;
	}
	
	font-family: @bodyFont;
	color: @headerFontColor;
	font-size: 15px;

	transform: translateZ(12px);
	pointer-events: auto;
	z-index: 1000;
}

.popdown-item {
	display: block;
	position: relative;
	pointer-events: auto;
	flex: 1 1;

	padding: 3px 15px;
	margin: 0;
	text-align: left;
	height: auto;
	cursor: pointer;
	
	height: 28px;
	line-height: 28px;
}


.half-width-menu-item {
	min-width: 90px;
}
.gray {
	background: @gray4;
}
.bottom-divider {
	min-width: 150px;
	border-bottom: 1px solid @gray3;
	
}
.top-divider {
	border-top: 1px solid @gray3;
	
}
.right-divider {
	border-right: 1px solid @headerMenuBorderColor;
}
.top-line {
	border-top: 1px solid @headerMenuBorderColor;
}
.selectable:hover {
	background: @gray4;
}
.unselectable {
	color: @gray3;
}
.popdown-item-selected {
	color: @green1;
}

.popdown-section {
	flex: 1;
	flex-grow: 1;
	padding: 5px;
}
