
.pop-down {

	position: relative;
	flex: 1;
	float: left;
	line-height: 30px;
	padding: 0 5px;
	margin: 0;
	width: auto;
	min-width: 10px;
	
	text-align: center;

	margin-right: 5px;
	
	overflow: visible;

}

.pop-down-menu-bordered {
	background: white;
	border-radius: 3px;
}

.popdown-borderless {
	// border-color: transparent !important;
}

.popdown-prez.popdown-active {
	background: lightsalmon !important;
	color: @headerBgLight2;
}

.popdown-prez {
	color: lightsalmon;
	&:hover {
		background: @headerBgLight2;
	}
}

.popdown-struct.popdown-active {
	background: @limegreen !important;
	color: @headerMenuBgColor;
}


.popdown-struct {
	color: @limegreen;
	&:hover {
		background: @headerBgLight2;
	}
}


.pop-down-w-label {
	text-align: left;
}

.pop-down--greensolid {
	background: @newgreen1 !important;
	color: white !important;
}

.popdown-label {
	font-family: @bodyFont;
	font-size: 15px;
	display: inline-block;
	line-height: 30px;
	margin: 0;
	margin-left: 5px;
}

.pop-down-overlay {

	position: absolute;
	top: -30px;
	height: 24px;
	

	background: white;
	padding: 4px;
	padding-top: 0;
	

	color: @headerFontColor;
	
	margin-bottom: -6px;
	
	// margin-bottom: -1px;
	border-right: 1px solid white;
	border-left: 1px solid white;
	
	border-bottom: 2px solid white;
	
	
}
