.title {
	font-family: @headerFont;
}

.pop-down-pointer-outer, .pop-down-pointer-inner, .pop-up-pointer-inner, .pop-up-pointer-outer {
	position: absolute;
	margin: 0; 
	padding: 0;
	width: 0;
	height: 0;
}




pop-down-pointer-inner, .pop-up-pointer-inner {
	z-index: 11;
}

.pop-down-pointer-outer {
	border-left: @pointerSize/2 solid transparent;
	border-bottom: @pointerSize/2 solid @headerMenuBorderColor;
	&.green {
		border-bottom: @pointerSize/2 solid @newgreen1;
	}
	border-right: @pointerSize/2 solid transparent;
	border-top: @pointerSize/2 solid transparent;
	left: @pointerSize/2;
	margin-top: -1 * @pointerSize;
	top: 0;
}

.pop-down-pointer-inner {
	border-left: @pointerSize/2  solid transparent;
	border-bottom: @pointerSize/2 solid white;
	border-right: @pointerSize/2 solid transparent;
	border-top: @pointerSize/2 solid transparent;
	left: @pointerSize/2;
	margin-top: -1 * @pointerSize + 1px;
	top: 0;
}

.pop-up-pointer-outer {
	border-left: @pointerSize/2 solid transparent;
	border-bottom: @pointerSize/2 solid transparent;
	border-right: @pointerSize/2 solid transparent;
	border-top: @pointerSize/2 solid @headerMenuBorderColor;
	&.green {
		border-top: @pointerSize/2 solid @newgreen1;
	}
	left: @pointerSize/2;
	margin-bottom: -1 * @pointerSize;
	bottom: 0;
}

.pop-up-pointer-inner {
	border-left: @pointerSize/2  solid transparent;
	border-bottom: @pointerSize/2 solid transparent;
	border-right: @pointerSize/2 solid transparent;
	border-top: @pointerSize/2 solid white;
	left: @pointerSize/2;
	margin-bottom: -1 * @pointerSize + 1px;
	bottom: 0;
}

.pop-up-menu {
	bottom: 100%;
	
	&.invert {
		flex-direction: column-reverse;
	} &:not(.invert) {
		flex-direction: column;
	}
	margin-bottom: @pointerSize/2 - 4px;
}

.pop-down-menu {
	// top: 100%;

	&.invert {
		flex-direction: column-reverse;
	} &:not(.invert) {
		flex-direction: column;
	}
	// margin-top: @pointerSize/2 - 4px;
}

.key-shortcut {
	color: @gray3;
	float: right;
}

.pop-down-menu, .pop-up-menu {

	padding:  0;
	margin: 0;

	list-style: none;

	min-width: 250px;
	position: absolute;
	display: block;
	
	list-style: none;
	background: white;
	// box-shadow: 0 0 0 4px rgba(255,255,255,0.3);

	&.green {
		border: 1px solid @newgreen1;
	}
	
	font-family: @bodyFont;
	color: @headerFontColor;
	font-size: 15px;

	transform: translateZ(12px);
	pointer-events: auto;
	z-index: 1000;
}

.split-menu {
	display: flex !important;
	flex-direction: row !important;
}

.popdown-item {
	display: block;
	position: relative;
	pointer-events: auto;
	flex: 1 1;

	padding: 5px 15px;
	margin: 0;
	text-align: left;
	height: auto;
	cursor: pointer;
	
	height: 32px;
	line-height: 32px;

	&.half-width-menu-item {
		min-width: 90px;
	}
	&.gray {
		background: @gray4;
	}
	&.bottom-divider {
		min-width: 150px;
		border-bottom: 1px solid @gray3;
		
	}
	&.top-divider {
		border-top: 1px solid @gray3;
		
	}
	&.right-divider {
		border-right: 1px solid @headerMenuBorderColor;
	}
	&.top-line {
		border-top: 1px solid @headerMenuBorderColor;
	}
	&.hilite, &.selectable:hover {
		background: @purple4;
		color: white;
	}
}

.popdown-item-selected {
	color: @newgreen1;
}

.popdown-section {
	flex: 1;
	flex-grow: 1;
	padding: 5px;
}
