@import "../colors.less";

.wizard-title {
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	border-bottom: 1px solid stellblue;
	font-style: italic;
	z-index: 2;
}

.wizard-overlay {
	color: steelblue;
	position: absolute;
	padding-top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: white;
	
	overflow: hidden;
}

.wizard-inner {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 20px;

}

.wizard-blocks {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
	max-height: 100%;
}

.block {
	flex: 1 1;
	padding: 10px;
}

.block-header {
	font-family: @headerFont;
}

.block-body, .block-header {
	display: block;
	flex: 1 1;
	padding: 5px 10px;
}

.attr-style {
	color: steelblue;
}

.struct-style {
	color: @limegreen;
}

.selectable-attr-style:hover {
	background: fadeout(steelblue, 80%);
	cursor: pointer;
}

.attr-border {
	border: 1px solid steelblue !important;
}