@import "../../styles/colors.less";


.view-config-menu-col {
	
	flex-grow: 1;
	flex-direction: column;
	display: flex;
	padding: 15px;
	max-height: 250px;
	min-height: 250px;
}

.view-config-bar {
	position: absolute;
	right: 20px;
	margin-left: auto;
	bottom: 65px;
	z-index: 30;
	display: flex;
}

.view-config-dots {
	margin-left: 4px;
	border-bottom: 1px dotted @purple4;
}

.view-config-item,
.view-config-item--pushed,
.view-config-item--active,
.view-config-item--focused
{
	padding: 4px 8px;

	
	display: inline-block;
	
	
	text-align: center;

	cursor: pointer;
	
	text-transform: uppercase;
	font-size: 12px;
	color: @purple4;

	background: white;
	border-radius: 20px;
	border: 2px solid @purple4;
	border-top-width: 1px;
	border-left-width: 1px;
	box-shadow: 0 0 0 3px white;

	margin-right: 8px;
	height: 20px;
	line-height: 24px;

	transition: all ease-in 150ms;


}
.view-config-item:hover, .view-config-item--active:hover {
	background: @gray4;
	
}



.sort-config-colors {
	border: 1px solid @blue1;
	color: @blue1;
}

.menu-explainer {
	max-width: 400px;
	flex: 1 1;
	text-align: left;
	& > h3, & > p {
		padding: 5px;
		margin: 0;
	}
	background: white;
	padding: 5px;
	margin: 5px;
}

.menu-drop-zone {
	border-radius: 3px;
	border: 2px solid @gray3;
}

.menu-action {
	margin-left: 0;
	flex: 2 2;
	max-width: 600px;
}

.menu-box {
	display: flex;
	flex: 1 1;
	flex-direction: column;
}

.config-style {
	text-transform: uppercase;
	font-size: 12px;
	padding: 2px 0;
	margin-left: 4px;
	flex: 1 1;
}

.menu-span {
	flex: 1 1;
}

.view-config-menu {
	display: flex;
	flex-direction: row;

	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0;

	z-index: 50;
	transform: translateZ(50px);

	text-transform: none;
	font-size: 16px;

	background: white;

	border: 2px solid @blue1;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 0 2px white;
}


.selector-style {
	max-height: 28px;
	border-radius: 3px;
}


.label-text {
	display: block;
}