@import "../../global.less";

@borderWidth: 1px;
@borderRadius: 2px;
@borderColor: @gray3;
@headerMenuBgColor: white;
@altBorderColor: @gray3;
@outerBorderColor: @green-trans;
@outerBorderWidth: 3px;


.header-section {
	flex-direction: column;
	display: flex;
	flex: 1;
	flex-grow: 1;
	max-width: 300px;
	padding: 0 10px;
	border-right: 1px solid @headerBorderColor;
}
.double.header-section {
	flex: 2;
	flex-grow: 2;
	max-width: 600px;
}

.header-label {
	text-transform: uppercase;
	font-size: 12px;
	flex-direction: column;
	padding: 8px;
	padding-top: 0;
	text-align: center;
}

.model-views-menu {
	flex-direction: column;
	position: relative;
	display: block;
	cursor: pointer;
	border: @headerOuterBorderWidth solid transparent;
	border-radius: @headerBorderRadius;
	&:hover {
		border-color: @headerOuterBorderColor;
	}
}

.model-views-menu-inner {
	height: 40px;
	.ellipsis;
	background: @headerMenuBgColor;
	padding: 0;
	margin-right: 30px;
	border: 1px solid @headerBorderColor;
	border-radius: @headerBorderRadius;

	.view-label {
		float: left;
		width: 140px;
		padding: 5px 10px;
	}
}

.dropdown {
	background: @headerMenuBgColor;
	color: @headerFontColor;
	border: 1px solid @borderColor;


	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	padding: 14px 0px;
	margin: 0 !important;

	text-align: center;
	vertical-align: middle;
	border-bottom-left-radius: @borderRadius;
	border-bottom-right-radius: @borderRadius;
}

.dropdown-menu {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100;
	z-index: 3000;
	border: @borderWidth solid @borderColor;
	.drop-shadow(3px 3px -5px @gray2);
}

.view-icon {
	margin-top: -2px;
}

.menu-item {
	display: flex;
	flex-direction: row;
	&:last-child {
		border-bottom-left-radius: @borderRadius;
		border-bottom-right-radius: @borderRadius;
	}
}

.menu-sub-item {
	display: flex;
	text-decoration: none;
	padding: 10px 15px;
	background: @headerMenuBgColor;
	flex-direction: row;
	flex: 1 1;
	color: @headerFontColor;

	input {
		.msInput;
	}
	&:hover {

	}
}

.menu-divider {
	// font-family: @headerFont;
	// font-weight: 600;
	text-transform: uppercase;
	color: @newgreen1;
}
.menu-divider-label {

}
