@import "../../global.less";

@borderColor: @gray3;
@bgColor: @gray4;
@fontColor: @gray1;

ul.sidebar-model-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
	padding-top: 5px;
	background: @gray4;

	& > li.add-new {
		border-right: 1px solid @borderColor;

		a {
			color: white;
			font-weight: 800;
			// font-family: @headerFont;
		}
	}

	& > li {
		border-left: 1px solid @borderColor;
		border-top: 1px solid @borderColor;
		flex-direction: row;
		padding: 0;
	}

	& > li > a {
		margin: 0;
		padding: 5px 10px;
		display: block;
		text-decoration: none;
		position: relative;
		color: @fontColor;

		background: @bgColor;

		font-size: 16px;
		font-weight: 400;
		font-family: @bodyFont;
	}

	& > li.active {
		background: @gray4;
		margin-bottom: -1px;
		border-bottom: 1px solid @bgColor;
	}

	& > li:not(.active) > a {
		background: @gray4;
		// lighten(@gray2, 10%);
	}

	& > li.active:not(.editmode) {
		background: white;
	}

	& > li.editmode > a {

		background: @bgColor;
		border-radius: 4px;
		padding-right: 5px;
	}

	input {
		display: block;
		border-radius: 4px;
		padding: 0px;
		border: none;
		outline: none;
		background: none;
		border-bottom: 1px solid @borderColor;
		color: @fontColor;
		font-family: @bodyFont;
		font-size: 16px;
		min-width: 50px;
		margin: 0;
		margin-bottom: -1px;
		border-radius: 0;
	}
}

.left-side-bar {
	position: relative;
	order: -2;
	padding: 0;
	overflow: visible;
	border-bottom: 1px solid @borderColor;
}
