@import "../../global.less";

ul.sidebar-model-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	background: @gray3;

	& > li.add-new {
		a {
			color: @gray4;
			font-weight: 800;
			// font-family: @headerFont;
		}
	}

	& > li {
		flex-direction: row;
		padding: 0;
		margin-left: 1px;
	}

	& > li > a {
		margin: 0;
		padding: 5px 10px;
		display: block;
		text-decoration: none;
		position: relative;
		color: @gray4;

		background-color: @darkgreen0;

		font-size: 16px;
		font-weight: 400;
		font-family: @bodyFont;
	}

	& > li.active {
		border-bottom: 1px solid @darkgreen0;
		margin-bottom: -1px;
	}

	& > li:not(.active) > a {
		background: @darkgreen1;
		// lighten(@gray2, 10%);
	}

	& > li.active:not(.editmode) {
		background: white;
	}

	& > li.editmode > a {

		background: @gray4;
		border-radius: 4px;
		padding-right: 5px;
	}
	.model-reorder {
		display: block;
		position: absolute;
		left: -3px;
		color: @gray3;
		padding: 5px;
		padding-top: 15px;
		cursor: drag;
	}

	input {
		display: block;
		background: white;
		border-radius: 4px;
		padding: 10px;
		border: none;
		margin: 0;
	}
}

.left-side-bar {
	position: relative;

	order: -2;
	background: white;
	border-right: 1px solid @steelblue;
	padding: 0;
	overflow: visible;
}
