@import "../../global.less";


.sidebar-sub-header {
	h2 {
		padding: 10px 20px;
		font-size: 16px;
		color: @gray3;
		font-family: @headerFont;
		display: inline;
	}
	border-bottom: 1px solid @gray2;
	padding: 20px 0;
}

.mb-buttons {
	margin: 0;
	margin-left: 10px;
	margin-right: 20px;
	float: right;
	list-style: none;
	padding: 0;

	&.light {
		color: @newgreen1;
	}

	&.dark {
		color: @gray4;
	}

	&.light {
		margin-right: 0;
	}
	& > li {
		transition: all cubic-bezier(.16,.85,.5,1) 100ms;

		// margin: -1px;
		float: left;
		padding: 1px 8px;
		border: 1px solid @gray-3;
		border-left: none;
		&:first-child {
			border-left: 1px solid @gray3;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		&:last-child {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
		&:hover, &.hilight {
			background: @newgreen1;
			border-color: @newgreen1;
			color: white;
		}
		cursor: pointer;
		font-size: 14px;
		font-family: @subheaderFont;
		font-weight: 600;
	}
}


ul.sidebar-model-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 10px;

	& > li {
		transition: background-color cubic-bezier(.16,.85,.5,1) 0.1s;
		min-width: 210px;
	}

	& > li > a {
		transition: background-color cubic-bezier(.16,.85,.5,1) 0.1s;

		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 10px;
		padding: 15px;
		display: block;
		text-decoration: none;
		position: relative;
		color: @gray4;
		font-size: 14px;
		font-weight: 600;
		font-family: @subheaderFont;
	}
	& > li.active {

	}
	& > li.active:not(.editmode) {
		background: @gray2;
	}

	& > li.editmode > a {

		background: @gray2;
		border-radius: 4px;
		padding-right: 5px;
	}
	.model-reorder {
		display: block;
		position: absolute;
		left: -3px;
		color: @gray2;
		padding: 5px;
		padding-top: 15px;
		cursor: drag;
	}

	input {
		display: block;
		background: white;
		border-radius: 4px;
		padding: 10px;
		border: none;
		margin: 0;
	}
}

.left-side-bar {
	position: relative;
	flex: 0 0 250px;
	order: -2;
	background: @pureGray3;
	padding: 0;
	overflow: visible;
}
