@import "./assets/less/pictonic.less";

@font-face{
font-family:"Helvetica Neue Medium";
src:url("assets/fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix");
src:url("assets/fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix") format("eot"),
url("assets/fonts/9f93e286-eeaa-4077-b0b2-0e6901920f74.woff2") format("woff2"),
url("assets/fonts/5b4a262e-3342-44e2-8ad7-719998a68134.woff") format("woff"),
url("assets/fonts/4a3ef5d8-cfd9-4b96-bd67-90215512f1e5.ttf") format("truetype"),
url("assets/fonts/58ab5075-53ea-46e6-9783-cbb335665f88.svg#58ab5075-53ea-46e6-9783-cbb335665f88") format("svg");
}

@font-face{
font-family:"Neue Haas Unica Thin";
src:url("assets/fonts/fcdce581-b79f-4e16-8f98-2bae765fe602.eot?#iefix");
src:url("assets/fonts/fcdce581-b79f-4e16-8f98-2bae765fe602.eot?#iefix") format("eot"),
url("assets/fonts/62fbb167-a51a-498e-959e-0eaccfd3f1bc.woff2") format("woff2"),
url("assets/fonts/914e851e-cdbd-41d8-b82d-744ce5d6d30d.woff") format("woff"),
url("assets/fonts/41a46789-4631-4e39-8d8c-5ca20e68195b.ttf") format("truetype"),
url("assets/fonts/3c909de3-5588-4dab-b31b-8f900cf2750b.svg#3c909de3-5588-4dab-b31b-8f900cf2750b") format("svg");
}

@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('assets/fonts/cmunorm.eot');
	src: url('assets/fonts/cmunorm.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/cmunorm.woff') format('woff'),
		 url('assets/fonts/cmunorm.ttf') format('truetype'),
		 url('assets/fonts/cmunorm.svg#cmunorm') format('svg');
	font-weight: normal;
	font-style: normal;
}

//=================================
// scrollbar

::-webkit-scrollbar {
   width: 8px;
   height: 8px;
   margin: 2px;
}
 
/* Track */
::-webkit-scrollbar-track {
   -webkit-border-radius: 10px;
   background: @pureGray3;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	width: 6px;
	height: 6px;
	margin: 1px;
   -webkit-border-radius: 8px;
   border-radius: 10px;
   background: @pureGray2;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: @pureGray2;
}
//=================================

//=================================
// COLORS
//=================================

@red-base:   hsla(346,  90%, 20%, 1);
@red-dark:   hsla(346, 100%, 10%, 1);
@red-bright: hsla(346, 100%, 40%, 1);
@red-tint-1: hsla(346,  70%, 40%, 1);
@red-tint-2: hsla(346,  55%, 55%, 1);

@purple-base: #481940;	/* Main Secondary color (1) */
@purple-dark: #110D11;
@purple-1: #2E192A;
@purple-2: #520846;
@purple-3: #720060;

@blue-base:    hsla(207,  90%, 20%, 1);
@blue-dark:    hsla(207, 100%, 10%, 1);
@blue-bright:  hsla(207, 100%, 40%, 1);
@blue-tint-1:  hsla(207,  80%, 85%, 1);
@blue-tint-2:  hsla(207,  55%, 70%, 1);

@green-base:   hsla(134,  90%, 20%, 1);
@green-dark:   hsla(134, 100%, 10%, 1);
@green-bright: hsla(134, 100%, 40%, 1);
@green-tint-1: hsla(134,  70%, 40%, 1);
@green-tint-2: hsla(134,  55%, 55%, 1);
@green-tint-3: hsla(134,  30%, 80%, 1);



@green3: #46b980;
// @green3: gold;
@green4: lighten(@green3,30%);

@blue3: steelblue;
@blue4: lighten(steelblue, 20%);

@pureGray1: #F5F5F5;
@pureGray2: #A5A5A5;
@pureGray3: #555;
@pureGray4: #454545;

@gray1: #f8f5ec;
@gray2: #f1ede4;
@gray3: #c2c0bc;
@gray5: #484848;

@red3:  lighten(red, 40%);


@lighttext: white;
@lightaccent: lighten(green, 70%);
@textcolor: #333;
@texthover: darkred;

.background-striped {
	border-image: url(assets/img/green3puregray4stripe.png);
	border-left-width: 4px;
	border-top: none;
	border-bottom: none;
}

// mixins

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

.clickable {
	cursor: pointer;
}

.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}

.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}

.info-box {
	
	float: right;
	color: @green3;
}

.armKill:hover {
	color: @red-tint-2;
}

.addNew:hover {
	color: @green-tint-3;
}

.addNew.icon {
	color: @green-tint-2;
}

.icon {
	font-weight: 400;
	text-align: center;
	.noselect;
	font-size: 17px;
	min-width: 25 px;
	margin-right: 8px;
	&.after {
		margin-left: 8px;
		margin-right: 2px;
	}
	&.white {
		color: white;
	}

	&.gold {
		color: gold;
	}

	&.grayed {
		.transition(all 100ms ease-in);
		color: @pureGray2;
	}

	&.blued {
		color: @blue4;
	}

	&.right-align {
		float: right;
	}

	&.greened {
		.transition(all 100ms ease-in);
		color: @green4;
	}

	&.reddened {
		color: @red3;
	}

	&.small {
		font-size: 11px;
		margin-right: 6px;
	}

}

.wedge{
	.clickable;
	.transition(all 50ms ease-in);
	&.closed {
		.rotate(90deg);
	}
	&.open {
		.rotate(180deg);
	}
}




input[type="checkbox"] +  {
	appearance: none;
   display:inline-block;
   width:14px;
   height:14px;
   background-color: @pureGray3;
   border: 1px solid @pureGray1;
}