@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=842ddfd4-0ffe-433a-a2b4-9c5076100890&fontids=694027");
@import "./assets/less/pictonic.less";

@font-face{
font-family:"Helvetica Neue Medium";
src:url("assets/fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix");
src:url("assets/fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix") format("eot"),
url("assets/fonts/9f93e286-eeaa-4077-b0b2-0e6901920f74.woff2") format("woff2"),
url("assets/fonts/5b4a262e-3342-44e2-8ad7-719998a68134.woff") format("woff"),
url("assets/fonts/4a3ef5d8-cfd9-4b96-bd67-90215512f1e5.ttf") format("truetype"),
url("assets/fonts/58ab5075-53ea-46e6-9783-cbb335665f88.svg#58ab5075-53ea-46e6-9783-cbb335665f88") format("svg");
}

@font-face{
font-family:"Neue Haas Unica Thin";
src:url("assets/fonts/fcdce581-b79f-4e16-8f98-2bae765fe602.eot?#iefix");
src:url("assets/fonts/fcdce581-b79f-4e16-8f98-2bae765fe602.eot?#iefix") format("eot"),
url("assets/fonts/62fbb167-a51a-498e-959e-0eaccfd3f1bc.woff2") format("woff2"),
url("assets/fonts/914e851e-cdbd-41d8-b82d-744ce5d6d30d.woff") format("woff"),
url("assets/fonts/41a46789-4631-4e39-8d8c-5ca20e68195b.ttf") format("truetype"),
url("assets/fonts/3c909de3-5588-4dab-b31b-8f900cf2750b.svg#3c909de3-5588-4dab-b31b-8f900cf2750b") format("svg");
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@darkbg: rgb(150,140,109);


@green3: #46b980;
@green4: lighten(@green3,30%);

@pureGray1: #F5F5F5;
@pureGray2: #A5A5A5;
@pureGray3: #555;
@pureGray4: #454545;

@gray1: #f8f5ec;
@gray2: #f1ede4;
@gray3: #c2c0bc;
@gray5: #484848;


@lighttext: white;
@lightaccent: lighten(green, 70%);
@textcolor: #333;
@texthover: darkred;


.clickable {
	cursor: pointer;
}

.icon {
	font-size: 17px;
	padding-right: 5px;
}

.icon-grayed {
	color: @pureGray2;
}

.icon-greened {
	color: @green4;
}

.wedge-icon {
	.noselect;
	transform: rotate(90deg);
	-webkit-transition: all 50ms ease-in;
	cursor: pointer;
	font-size: 11px;
	color: @pureGray2;
	margin-right: 8px;

	&.wedge-open {
		transform: rotate(180deg);
	}
}