@import "../../../../global.less";

.menu-token {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid gray;
}

.column-item {
  display: flex;
  flex-direction: row;
}

.column-config {
  flex: 1;
  flex-grow: 1;
}

.double-column-config {
  flex: 2;
  flex-grow: 2;
}
