@import "../../../../global.less";

.menu-token {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid gray;
}

.column-item {
  display: flex;
  flex-direction: row;
}

.column-config {
  flex: 1;
  flex-grow: 1;
}

.double-column-config {
  flex: 2;
  flex-grow: 2;
}

.menu-input {
  margin-left: 10px;
  max-width: 100px;
}

.menu-input.text-input {
  background: @gray4;
  border: none;
  outline: none;
  padding: 3px 5px;
  font-family: @bodyFont;
  font-size: 15px;
}

.menu-input.selector {
  padding: 2px 0;
  border-radius: 3px;
  border: 1px solid @menuBorderColor;
  font-family: @bodyFont;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}
