@import "../../../../../global.less";

.tabular-view-header {
	position: absolute;
	border-bottom: 1px solid @purple4;
	z-index: 200;
	background: white;
}

.th-context {
  font-style: @bodyFont !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  position: absolute;
  left: 0;
  top: 10px;
	min-width: 250px;
}


.columnAdder {
	cursor: pointer;
	border: 1px solid @headerBorderColor;
	&:hover {
		border: 1px solid @newgreen1;
		color: @newgreen1;
	}
}

.table-header-cell.table-cell {
	border-bottom: none;
	border-top: none;
	// border-right: 1px solid @gray3;
	background: white;


	.context {
		z-index: 300;
	}
	&.asc, &.desc {
		// border: 1px solid @newgreen1;
	}
	&.desc > .table-cell-inner, &.asc > .table-cell-inner {
		// .horizontal-gradient(@green-trans, white);
		color: @newgreen1;
	}
	.table-cell-inner {
		cursor: pointer;
		padding-top: 5px;
	}
}

.table-resizer {
	display: block;
	position: absolute;
	z-index: 203;

	&.row-resizer {
		cursor: row-resize;
	}
	&.col-resizer {
		cursor: col-resize;
	}

	&:hover {
		background: @green-trans;
	}

	&.dragging {
		background: @red-bright-trans !important;
	}
}

.explainer-box {
	font-family: @bodyFont;
	font-size: 13px;
	border-radius: 3px;
	position: fixed;
	background: black;
	color: white;
	.bottom {
		top: 0;
	}
	.right {
		right: 0;
	}
}
