@import "../../../../../global.less";

.table-row {
	display: block;
	position: absolute;
	.border-box;
	z-index: 1;
	left: 0;
	right: 1px;
	// overflow: hidden;
}

.table-cell {
	display: block;
	position: absolute;
	border-left: 1px solid @gray3;
	border-bottom: 1px solid @gray3;

	margin: 0;
	padding: 0;
	
	.border-box;
	.noselect;
	top: 0;
	bottom: 0;
	z-index: 2;
	// .transition(left cubic-bezier(.16,.85,.5, 1) 150ms);
}

.table-cell--selected {
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.table-cell-selected {
}


// ************************************************************************
// TABLE_CELL_INNER
// ************************************************************************

.table-cell-inner {	
	.noselect;
	.ellipsis;
	-webkit-user-drag: none;
	cursor: cell;
	padding-left: 5px;
	padding-right: 5px;
	&.bolded {
		font: @headerFont;
		font-weight: 400;
	}
}

.table-cell-inner-sorted {
	border-left: 3px solid @green-trans;
	border-right: 3px solid @green-trans;
	&.table-header-cell-inner {
		border-top: 3px solid @green-trans;
	}
}

.table-cell-inner-selected {
	background: white;
}

.table-cell-inner, .special-cell-inner, .input-editor {
	position: absolute !important;
	display: block;
	font-size: 14px;
	font-family: @bodyFont;
	font-weight: 400;
	
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	.border-box;
	z-index: 3;
}

.input-editor {
	pointer-events: auto;
	z-index: 3;
	background: white !important;
	outline: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 5px;
	min-width: 10px;
	width: 100%;
}

// ************************************************************************
// CELL CONTENTS
// ************************************************************************

.has-many-bubble {
	.draggable;
	position: relative;
	display: inline;
	padding: 2px 5px;
	margin-bottom: 2px;
	border-radius: 3px;
	background: @gray4;
	margin-right: 5px;
	z-index: 4;
	border: 1px solid white;
}

.editor-icon {
	display: block;
	position: absolute !important;
	margin-right: 0 !important;
	width: 20px;
	top: 0;
	bottom: 0;
	cursor: pointer;
	color: @newgreen1 !important;
	z-index: 4;
}


.color-block {
	z-index: 4;
	display: block;
	position: absolute;
	left: 5px;
	top: 3px;
	bottom: 3px;
	border: 1px solid white;
	border-radius: 3px;
	cursor: cell;
}

.has-many-bubble.placeholder {
	border: 1px dashed @newgreen1;
	min-width: 50px;
	width: 50px;
	z-index: 4;
}

.checkbox-surround  {
	border-radius: 3px;
	background: white;
	border: 1px solid @gray3;
	z-index: 4;

	position: relative;
	display: inline-block;
	height: 14px;
	width: 14px;
	
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid @gray3;
}

.checkbox-surround-selected {
	border: 1px solid @newgreen1;
}