@import "../../../../../global.less";

// z-index
// table-cell
// .selection: 112
// .scroll-overlay: 120
// .table-cell.selected > .table-cell-inner: 125
// .input-editor: 150
// .add-new-row: 200


.loader-overlay, .notification-overlay, .error-overlay {
	position: absolute;
	bottom: 50px;
	left: 50px;
	height: 30px;
	line-height: 30px;
	font-style: 15px;
	font-family: @bodyFont;
	color: white;
	border-radius: 3px;
	z-index: 220;
	transform: translateZ(1px);
	text-align: center;
	.noselect;
}

.loader-overlay {
	background: @newgreen1;
}

.notification-overlay {
	background: @gray2;
}

.error-overlay {
	background: @red-bright;
}


.scroll-bar-outer {
	position: absolute;
	z-index: 10;
	background: none;
	overflow-x: scroll;
	overflow-y: scroll;
	-webkit-user-drag: none;
	
	transform: translateZ(10px);
	.noselect;
}


.blurred {
	
}

.tabular-body {
	.wrapper;
}

.tabular-body-wrapper {
	.wrapper
}

.wrapper {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	.noselect;
	.border-box;
}

//
.rhs-h-scroll {
	overflow: hidden;
	.transition(margin cubic-bezier(.16,.85,.5, 1) 100ms);
	.force-layer;
}

.rhs-h-scroll-outer--focused {
	border-left: 1px solid @purple4;
}

.rhs-h-scroll-outer--blurred {
	border-left: 1px solid @gray2;
}



.add-new-row {
	.border-box;
	.noselect;
	position: absolute;
	cursor: pointer;
	text-align: center;
	border: 1px solid @purple4;
	padding: 0;
	margin: 0;

	text-transform: uppercase;
	z-index: 3;
	background: white;
	pointer-events: auto;

	&:hover {
		color: @newgreen1 !important;
		border: 1px solid @newgreen1;
		background: @gray4;
	}
}

.fake-lines {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	.transition(all cubic-bezier(.1,.85,.5,1) 150ms);
}

.fake-table-row {
	.border-box;
	position: absolute;
	border-top: 1px solid @gray3;
	border-bottom: 1px solid @gray3;
	border-right: 1px solid @purple4;
	background: white;
	.transition(width cubic-bezier(.1,.85,.5,1) 150ms);
}

.underlay {
	background: white;
	.transition(width cubic-bezier(.1,.85,.5,1) 150ms);
}

.underlay--focused {
	border-right: 1px solid @purple4;
}

.underlay--blurred {
	border-right: 1px solid @gray2;
}