@import "../../../../../global.less";

.loader-overlay, .notification-overlay, .error-overlay {
	position: absolute;
	bottom: 50px;
	left: 50px;
	font-style: 15px;
	font-family: @bodyFont;
	color: white;
	border-radius: 3px;
	transform: translateZ(1px);
	z-index: 200;
	line-height: 40px;
	height: 40px;
	.noselect;
}

.loader-overlay {
	padding-left: 20px;
	border: 1px solid @newgreen1;
	color: @newgreen1;
	background: white;
}

.spin {
	display: inline-block;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}





.notification-overlay {
	background: @gray2;
}

.error-overlay {
	background: @red-bright;
}


.scroll-bar-outer {
	position: absolute;
	
	background: none;
	overflow-x: scroll;
	overflow-y: scroll;
	-webkit-user-drag: none;
	
	transform: translateZ(10px);
	z-index: 10;
	pointer-events: auto;
	// .noselect;
}

.scroll-bar-inner {
	transform: translateZ(1px);
	pointer-events: auto;
}


.blurred {
	
}

.tabular-body {
	.wrapper;
	background: white;
}

.tabular-body-rhs {
	border-right: 1px solid @purple4;
}

.tabular-body-wrapper {
	.wrapper;
}

.wrapper {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	transform-style: preserve-3d;

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	.noselect;
	.border-box;
}

//
.rhs-h-scroll {
	overflow: hidden;
	// .transition(margin cubic-bezier(.16,.85,.5, 1) 100ms);
	.force-layer;
}

.rhs-h-scroll-outer--focused {
	border-left: 1px solid @purple4;
}

.rhs-h-scroll-outer--blurred {
	border-left: 1px solid @gray2;
}

.add-new-row {
	.border-box;
	.noselect;
	position: absolute;
	cursor: pointer;
	text-align: center;
	color: @gray3;
	padding: 0;
	margin: 0;

	text-transform: uppercase;
	z-index: 3;
	background: white;
	pointer-events: auto;
}

.add-new-row--blurred {
	border: 1px solid @gray2;
}

.add-new-row--focused {
	border: 1px solid @purple4;
	&:hover {
		color: @newgreen1 !important;
		border: 1px solid @newgreen1;
		background: @gray4;
	}
}

.underlay {
	
}

.table-backing {
	background: white;
	transform: translateZ(-3px);
	z-index: -3;
}

.table-backing--focused {
	border-right: 1px solid @purple4;
}

.table-backing--blurred {
	border-right: 1px solid @gray2;
}