@import "../../global.less";

.branding {
	font-size: 18px;
	padding: 5px 10px;
	color: @lightFontColor;
	font-weight: 400;
	flex: 1 1;
	overflow: hidden;
}


.mdlbar-tab {
	.flex-direction(column);
	padding: 0;
	margin-right: 2px;
	position: relative;
}

.mdlbar-link {
	overflow: visible !important;
	position: relative;
	margin: 0;
	height: 28px;
	line-height: 30px;
	padding: 5px 10px;
	
	display: block;
	text-decoration: none;

	font-size: 16px;
	font-family: @headerFont;
	cursor: pointer;

	border-left: 4px solid transparent;

	transition: background cubic-bezier(.16,.85,.5,1) 400ms;
	transition: border cubic-bezier(.16,.85,.5,1) 400ms;
}

.mdlbar-link {
	direction: ltr !important;
	display: block;
	color: @lightFontColor;
}

.view-link {
	max-width: 180px;
	display: inline-block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	&:hover {
		border-bottom-color: @lightFontColor;
	}
	transition: all 50ms ease-in 100ms;
}

.mdlbar-link--active {
	// background: @headerBgLight2;
	// color: @lightFontColor;
	border-left: 4px solid steelblue;
}

.mdlbar-list {
	display: flex;
	position: absolute;

	left: 0;
	right: 0;
	top: 50px;
	bottom: 0;

	flex-direction: column;
	padding: 0;
	padding-left: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	direction: rtl;
}

.flush {
	position: absolute !important;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	min-width: 100%;
	width: auto;
}

.renamer {
	display: block;
	font-size: inherit;
	.msInput;
	-webkit-user-drag: none;
	background: white;

	border-radius: 1px;
	padding: 2px;
}
.header-renamer {
	font-size: @headerFontSize !important;
}

.mdlbar {
	position: relative;
	overflow: hidden;
	min-width: 150px;
	max-width: 300px;
	min-height: 100vh;
	height: 100%;
	flex: 1 1 ;
	display: flex;
	flex-direction: column;
	background: @headerMenuBgColor;
	border-right: 5px solid @headerBgLight2;
}

.mdlbar-section {
	margin-bottom: 20px;
}

.mdlbar-adder {
	direction: ltr !important;
	.mdlbar-tab;
	border: 1px solid @lightFontColor;
	border-radius: 3px;
	padding: 10px;
	margin: 10px;
	margin-right: 15px;
	color: @lightFontColor;
	cursor: pointer;

	transition: background ease-in 100ms;
	&:hover {
		background: @headerBgLight1;
	}

}