@import "../../global.less";

add-new-model {
	width: 25px;
	min-width: 25px;
	a {
		min-width: 25px;
		font-weight: 800;
		text-align: center;
		border: none !important;
	}
}

ul.model-bar-list {
	.flex-display;
	.flex(1);
	
	list-style: none;
	padding-bottom: 10px;
	margin: 0;
	height: 50px;
	z-index: 100;

	& > li {
		.flex-direction(row);
		padding: 0;
		position: relative;
	}

	& > li > a {
		margin: 0;
		height: 45px;
		line-height: 30px;
		padding: 5px 10px;
		
		display: block;
		text-decoration: none;

		font-size: 16px;
		font-family: @headerFont;
		text-align: center;

		.ellipsis;

		max-width: 150px;
		min-width: 50px;

		color: @headerFontColor;
		background: @headerMenuBgColor;
		border-bottom: 1px solid @headerMenuBorderColor;
		border-left: 1px solid @headerMenuBorderColor;

		&:hover {
			background: @headerMenuBgHilite;
		}

	}

	& > li:first-child {
		border-left: none;
	}



	& > li.active {
		z-index: 2;
		a {
			margin-top: -1px;
			border-top: 1px solid @headerMenuBgColor;
		}
		
	}

}

.renamer {
	display: block;
	font-size: inherit;
	.msInput;
	-webkit-user-drag: none;
	background: white;
	// border-bottom: 1px solid @gray3;
}
.header-renamer {
	font-size: @headerFontSize !important;
}

.model-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	padding: 0;
	overflow: visible;
	// background: @topBgColor;

	// background:url(
	// 	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEklEQVQIW2P8////f0YQYIACAD4dBAOyWWJYAAAAAElFTkSuQmCC
 //    ) repeat;
}

.model-bar-list {
	position: absolute;
	top: 10px;
	height: 40px;
	left: 0;
	right: 0;
	padding-left: 5px;
}

.model-bar-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 8px;
	border-top: 1px solid @headerMenuBorderColor;
	border-bottom: 1px solid @headerMenuBorderColor;
	background: @headerMenuBgColor;
}