@import "../../global.less";

add-new-model {
	width: 25px;
	min-width: 25px;
	a {
		min-width: 25px;
		font-weight: 800;
		text-align: center;
		border: none !important;
	}
}

.model-bar-tab {
	.flex-direction(row);
	padding: 0;
	position: relative;
}





.model-bar-tab-link, .model-bar-extra--left, .model-bar-extra--right {
	position: relative;
	margin: 0;
	height: 45px;
	line-height: 30px;
	padding: 5px 10px;
	
	display: block;
	text-decoration: none;

	font-size: 16px;
	font-family: @headerFont;
	text-align: center;

	color: @headerBgLight2;
	cursor: pointer;
}

.model-bar-tab-link {
	.ellipsis;

	max-width: 150px;
	min-width: 50px;

	
	color: @headerFontColor;
	background: @headerBgLight1;
	border-right: 1px solid @headerBgLight1;
	
}

.model-bar-tab-link--active {
	z-index: 2;
	margin-top: -1px;
	border-top: 1px solid @headerBgLight2;
	background: @headerBgLight2 !important;
	// color: @headerFontColor !important;
}

.model-bar-tab-link--first {
	border-left: none !important;
}

.model-bar-tab-link--last {
	border-right: 1px solid @headerMenuBorderColor;
}

.model-bar-list, .model-bar-extras {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;

	.flex-display;
	.flex(1);
	
	margin: 0;
	height: 40px;
	z-index: 100;
	background: @headerMenuBgColor;
}

.model-bar-list {
	padding-left: 15px;
	left: 0;
}

.model-bar-extras {
	flex-direction: row-reverse;
	width: 100px;
	margin-right: 10px;
}

.renamer {
	display: block;
	font-size: inherit;
	.msInput;
	-webkit-user-drag: none;
	background: white;
	// border-bottom: 1px solid @gray3;
}
.header-renamer {
	font-size: @headerFontSize !important;
}

.model-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	padding: 0;
	overflow: visible;
	// background: @topBgColor;

	// background:url(
	// 	data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAEklEQVQIW2P8////f0YQYIACAD4dBAOyWWJYAAAAAElFTkSuQmCC
 //    ) repeat;
}


.model-bar-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 8px;
	border-top: 1px solid @headerBgLight2;
	border-bottom: 1px solid @headerBgLight2;
	background: @headerBgLight2;
}