@import "../../../../styles/colors.less";


.context-menu {
	-webkit-font-smoothing: subpixel-antialiased !important;
	padding:  0;
	margin: 0;
	list-style: none;
	min-width: 350px;
	position: absolute;
	display: block;
	pointer-events: auto;
	
	z-index: 50;
	transform: translateZ(10px);

	background: white;
	
	& > li {
		padding: 5px 20px;
	}
	border-color: @gray3;
	.shadowed-menu;
}

