@import "../../../../styles/colors.less";
@import "../../../../styles/mixins.less";

.rhs-header {
	border-right: 1px solid @purple4;
}

.tabular-view-header {
	position: absolute;
	background: white;
}

.tabular-view-header {
	border: 1px solid @purple4;
}


.cube-column-header {
	border-bottom: 1px solid @purple4;
}

.column-adder {
	border: 1px solid @purple4 !important;
	color: @purple4;
	width: 35px;
	border-radius: 2px;
	padding: 5px !important;
	background: white;

	box-shadow: 2px 2px 0 0 lightgray;
	cursor: pointer;

	&:hover {
		border-color: @newgreen1 !important;
		color: @newgreen1;
	}
}

.action-cell-inner {
	margin: 0;
	padding: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	
	text-align: center;
	cursor: pointer;
	// border-radius: 0 10px 10px 0;
}

.table-header-cell {
	display: block;
	position: absolute;
	border-left: 1px solid @gray3;
	

	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	
	.border-box;
	.noselect;
}

.no-bottom-border {
	border-bottom: 1px solid transparent !important;
}

.header-cell-inner {
	cursor: pointer;
	padding: 0 5px;
	color: @purple4;
	font-family: @headerFont;
	background: white;
}

.table-cell-renamer {
	position: absolute;
	left: 5px;
	right: 15px;
	bottom: 3px;
	top: 3px;
	width: auto;
	color: @purple4;
	font-family: @headerFont;
	font-size: 16px;
	background: white;
	border: none;
	outline: none;
	border-bottom: 1px solid @gray3;
}

.table-resizer {
	display: block;
	position: absolute;
	z-index: 203;

	&.row-resizer {
		cursor: row-resize;
		zIndex: 30;
	}
	&.col-resizer {
		cursor: col-resize;
	}

	&:hover {
		background: @green-trans;
	}

	&.dragging {
		background: @red-bright-trans !important;
	}
}