@import "../../../../styles/colors.less";
@import "./tableClipWrapper.less";
@import "./contextMenu.less";


.wrapper {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	.noselect;
	.border-box;
	border: none;

	transition: linear 75ms;
	
	// -webkit-transform-style: preserve-3d;
}