@import "../../../../styles/colors.less";
@import "./tableClipWrapper.less";
@import "./contextMenu.less";


.wrapper {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	.noselect;
	.border-box;
	border: none;

	transition: cubic-bezier(.15,.86,.88,1) 75ms;
}

//
.rhs-h-scroll {
	overflow: hidden;
}

.rhs-h-scroll-outer {
	// border-left: 1px solid @blue1;
}