@import "../../../../styles/colors.less";
@import "./tableClipWrapper.less";
@import "./contextMenu.less";


.wrapper {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	.noselect;
	
	border: none;
	perspective: 0;
	
	-webkit-transform-style: flatten;
	transform-style: flatten;
	.border-box;
	overflow: hidden;
}

.loader-overlay {
	background: white;
	
	background: @gray4;
	font-size: 20px;
	line-height: 80px;
	height: 100%;
	display: flex;
}

.loader-hero {
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	text-align: center;
	color: blue;
}