@import "../../global.less";

.detail-grouping {
	display: block;
	padding: 0;
	margin: 0;
	&.editing {
		background: @gray4;
	}
}

.detail-row.sub-row {
	padding-left: 10px;
}

.detail-row-enter {
  max-width: 0 !important;
}

.detail-row-enter-active {
	max-width: 100px !important;
}

.detail-row-leave {
  max-width: 100px !important;
	opacity: 100%;
}

.detail-row-leave-active {
	max-width: 0 !important;
	opacity: 0%;
}


.detail-row.always-editable {
	border: 1px solid @gray3;
	border-radius: 4px;
}

.model-details {
    display: flex;
		background: white;
}


.detail-block {
	flex-direction: column;
	min-width: 400px;
	flex: 1 0;
	flex-wrap: wrap;
  border-top: 1px solid @gray3;
	padding: 10px;
	margin: 10px;
	display: block;
}

p.explainer {
	font-size: 13px;
	padding-top: 0;
	margin-top: 0;
	display: block;
	font-family: @bodyFont;
}

.detail-section-header {
	display: block;
	clear: all;
	padding: 10px 0;
	h3 {
		padding: 0;
		margin: 0;
		display: inline;
		font-size: 14px;
		font-family: @subheaderFont;
		font-weight: 400;
		color: black;
	}
}

.confirm-div {
	display: block;
	clear: all;
	padding: 10px 0;
	min-height: 15px;
}


.detail-table {
	padding: 0;
	margin: 0;
	display: block;
  width: 100%;
  font-size: 13px;
	list-style: none;

  .detail-row, .detail-header {
    display: block;
		display: flex;
    clear: both;
		margin-bottom: 3px;
  }

  .detail-header {
		font-family: @subheaderFont;
		color: @gray2;
		font-weight: 400;
		border-bottom: 1px solid @gray3;
		border-top: 1px solid @gray3;
  }

	.detail-row {
		border-radius: 4px;
		position: relative;
		transition: all cubic-bezier(.16,.85,.5,1) 1000ms;

		&.new {
			margin-left: -100%;
		}
	}

	.detail-row.editing > span:not(.draggable) {
		background: @gray4;
	}


  .detail-row > span, .detail-header > span {

		flex-direction: column;
		transition: background cubic-bezier(.16,.85,.5,1) 100ms;
		transition: max-width cubic-bezier(.16,.85,.5,1) 100ms;


    padding: 7px;
		margin: 0;

		&.tight {
			// padding: 2px 7px;
		}
		&.draggable {
			color: @gray3;
			position: absolute;
			top: 0;
			left: -25px;
			width: 15px;
		}
		&.draggable:hover {
			cursor: grab;
		}
    &.title {
			font-family: @subheaderFont;
			color: @gray2;
			font-weight: 400;
    }
    &.right-align {
      text-align: right;
    }
    &.no-line {
      border-bottom: none;
    }
    &.centered {
      text-align: center;
    }
    &.grayed {
      color: @gray3;
    }
    &.padded {
      padding: 4px 6px;
    }
		&.width-5 {
			width: 5%;
		}
		&.width-8 {
			width: 7%;
		}
    &.width-10 {
      width: 10%;
    }
    &.width-15 {
      width: 15%;
    }
    &.width-20 {
      width: 19%;
    }
    &.width-22{
      width: 22%
    }
    &.width-25 {
      width: 24%;
    }
    &.width-30 {
      width: 29%;
    }
    &.width-35 {
      width: 35%;
    }
    &.width-40 {
      width: 39%;
    }
    &.width-50 {
      width: 50%;
    }
    &.width-60 {
      width: 60%;
    }
    &.width-70 {
      width: 70%;
    }
		&.width-80 {
      width: 80%;
    }
		&.width-90 {
      width: 90%;
    }
		&.width-100 {
      width: 100%;
    }
  }

  input:not([type]), input[type=text], select {
		-webkit-appearance: none;
		-firefox-appearance: none;

		box-sizing: border-box;
		width: 100%;
		padding: 4px 4px;
		margin-left: -5px;
		margin-top: -5px;
		margin-bottom: -5px;
		margin-right: -5px;

		border-radius: 4px;
    border: 1px solid @gray3;
    background: white;

    font-size: 13px;
    font-family: @bodyFont;

    outline: 0;
		transition: all cubic-bezier(.16,.85,.5,1) 100ms;
  }

	input[type=checkbox] {
		border-radius: 4px;
		outline: 0;
		border: 1px solid @gray3;
	}

	select {
		padding: 3px 3px !important;
	}

	input:focus, select:focus {
		border: 1px solid @newgreen1;
	}

  input::selection {
      background: @newgreen1; /* WebKit/Blink Browsers */
  }

}
