

.grouping {
	display: block;
	padding: 0;
	margin: 0;
}


.detail-bar {
	position: relative;
	flex: 0 0 450px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	order: -1;
}


div.detail-block {
	display: block;
	margin: 20px;
}

.detail-table {

}
