@import "../../global.less";


.current-user-label {
	font-family: @subheaderFont !important;
	font-size: 14px !important;
	float: right !important;
}

.rh-sidebar-subheader {
	border-bottom: 1px solid @gray3;
	z-index: 1000;
}

.right-header {
	background-color: @pureGray3 !important;
}

.views-list-container {
	position: absolute;
	top: 40px;
	right: 0;
	left: 0;
	display: block;
	padding: none;
	margin: none;
	background: @gray4;

	max-height: 0;
	overflow: hidden;
	margin-left: -1px;
	margin-right: -1px;

	border-bottom: 1px solid @gray3;
	border-right: 1px solid @gray3;
	border-left: 1px solid @gray3;

	z-index: 2000;

	/* Set our transitions up. */
	transition: max-height cubic-bezier(.16,.85,.5,1) 0.1s;
}

.views-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;

	& > li {
		padding: none;
		margin: none;
		display: block;
		& :hover {
			background-color: lighten(@gray4, 1%);
		}
	}
	& > li > a {
		display: block;
		padding: 20px;
		margin-bottom: 5px;
		color: @gray1;
		text-decoration: none;
		cursor: pointer;
		font-size: 14px;
		font-family: @subheaderFont;
		font-weight: 600;

	}
}

.rh-sidebar-accordian {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	background: white;
	overflow-y: scroll;
	border-right: 1px solid @gray3;

	.accordian-item-head {
		display: flex;
		flex-direction: row;
		& > .accordian-icon {
			padding: 20px;
			flex: 1;
			& > .icon {
				font-size: 50px;
			}
		}
		.accordian-label {
			flex: 3;
		}
		&:hover {
			background: @gray4;
		}
	}
}

.model-views {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	flex: 1;
}

.model-panes {
	z-index: 8;
	display: flex;
	flex: 1;
	flex-grow: 1;
	background: white;
}

.view-body-wrapper {
	z-index: 10;
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-width: 600px;
	max-height: 100vh;
	flex-grow: 5;
	position: relative;

	padding: 0;
	overflow-x: auto;
	background-color: white;
}

.no-view-content {
	z-index: 10;
	background: white;
	font-size: 18px;
	font-family: @headerFont;
	color: @darkText;
	text-align: center;
	padding-top: 200px;
	background-color: white;
}
