@import "../../global.less";

.model-views {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.model-panes {
	display: flex;
	flex: 1;
	flex-grow: 1;
}

.view-body-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-width: 500px;
	max-height: 100vh;
	flex-grow: 5;
	position: relative;
	
	padding: 0;
	overflow-x: auto;
	background-color: white;
}

.no-view-content {
	background: white;
	font-size: 18px;
	font-family: @headerFont;
	color: @darkText;
	text-align: center;
	padding-top: 200px;
}


ul.view-tabs {
	background: @pureGray4;
	list-style: none;
	padding: 0;
	padding-top: 3px;
	padding-left: 3px;
	border-bottom: 1px solid @pureGray2;
	margin: 0;
	display: inline-flex;
	flex-direction: column;
	li {
		position: relative;
		background: @pureGray3;
		color: @pureGray1;
		padding: 5px;
		padding-left: 10px;
		width: 150px;
		height: 20px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-top: 1px solid @pureGray2;
		border-left: 1px solid @pureGray2;
		border-right: 1px solid @pureGray2;

		// span.edge {
		// 	z-index: 10;
		// 	position: absolute;
		// 	right: 0;
		// 	top: 0;
		// 	margin: 0;
		// 	padding: 0;
		// 	margin-right: -20px;
		// 	width: 20px;
		// 	height: 10px;
		// 	border-style: solid;
		// 	border-width: 10px;
		// 	border-color: @pureGray2;
		// 	border-top-color: transparent;
		// 	border-right-color: transparent;
		// 	background: none;
		// }
	}
}

.not-really-a-link {
	color: @darkText;
	text-decoration: none;
}

.detail-hider {
  position: absolute;
  top: 2px;
  right: 0;
  margin-right: 0;
  height: 9px;
  width: 30px;
  border-radius: 0 3px 3px 0;
  padding: 8px 5px;
  background-color: @cream;
  color: @darkText;
  z-index: 200;
  text-align: left;
  .transition(all 200ms ease-in);
  border-right: 2px solid @gray-2;
  border-bottom: 2px solid @gray-2;
  border-top: 2px solid @gray-2;
}

.detail-bar:hover .detail-hider {
	margin-right: -25px;
}

.grouping {
	display: block;
	padding: 0;
	margin: 0;
}

.detail-block {
	display: block;
	margin-bottom: 10px;
}

.banner {
	display: block;
	padding: 5px;
	font-size: 10px;
	margin-top: 10px;

	&.warning {
		border: 1px solid gold;
		color: gold;
	}
}


ul.detail-panels {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	padding: 10px;
	padding-top: 0;
	background-color: @cream;
	z-index: 220;

	li {
		.clickable;
		flex-direction: column;
		width: 100vh;
		font-weight: 400;
		margin: 0;
		h2, h3, h4, h5 {
			padding: 5px;
			padding-left: 0;
			margin: 0;
			&:hover {
				border-color: @gray-2;	
			}
			&.active {
				border-color: @green-tint-1;
			}
		}

		
	}
}

.model-details, .view-details {
	
	color: @darkText;
	font-weight: 400;
	font-size: 14px;
	overflow-y: scroll;
	display: block;
	padding: 10px;
	&.hidden {
		display: none;
	}

	select {
	  font-family: @bodyFont;
	  padding: 0 5px;
	}
}


.detail-bar {
	flex: 0 0 350px;
	height: 100vh;	
	display: flex;
	flex-direction: column;
	overflow: visible;
	position: relative;
	order: -1;
	background: @cream;
	border-right: 2px solid @gray-2;
	
	h2 {
		font-size: 17px;
		border-bottom: 1px solid @gray-2;	
	}
	
	h3 {
		font-size: 17px;
		
	}

	h2, h3, h4, h5 {
		display: block;
		color: @darkText;
		font-weight: 400;
		padding: 5px;
		
	}

	.detail-table {
		width: 100%;
		border-collapse: collapse;
		color: @darkText;
		font-size: 13px;

		tr.hoverable:hover td {
			background-color: @heavyCream;	
		}

		td, th {
			padding: 4px 2px;
			&.right-align {
				text-align: right;
			}
			&.no-line {
				border: none;
			}
			&.centered {
				text-align: center;
			}
			&.padded {
				padding: 4px 6px;
			}
			&.width-10 {
				width: 10%;
			}
			&.width-20 {
				width: 20%;
			}
			&.width-30 {
				width: 20%;
			}
			&.width-40 {
				width: 40%;
			}
			&.width-50 {
				width: 50%;
			}
			&.width-60 {
				width: 50%;
			}
			&.width-70 {
				width: 70%;
			}
		}
		td {
			border-bottom: 1px dashed @heavyCream;
			input {
				border: none;
				border-bottom: 1px solid @darkText;
				background: none;
				font-size: 13px;
				font-family: @bodyFont;
				color: @darkText;
				width: 100%;
				outline: 0;
				padding: 0;
				margin: 0;
			}
		}
		th {
			text-align: left;
			border-bottom: 1px solid @darkText;
			border-top: 1px solid @darkText;
			font-weight: 400;
		}

		tr:last-child > td {
			border-bottom: 1px solid @gray-2;	
		}
	}

	a.new-attr {
		color: @darkText;
		cursor: pointer;
	}
}

