@import "../../global.less";

.model-pane {
	background: lighten(green, 50%);
	flex-grow: 5;
}

.data-table {
	background: white;
	tr {
		border-bottom: 1px solid gray;
		th {
			
			font-size: 10px;
		}
	}
}

