@import "../../../../global.less";

// field

.color-block {
	z-index: 150;
	display: block;
	position: absolute;
	left: 5px;
	right: 5px;
	top: 3px;
	bottom: 5px;
	border: 1px solid white;
	border-radius: 3px;
}

// detail pane

.color-row {
  flex-direction: column;
}

.color-choice {
  display: flex;
  flex: 1 1;
  border-radius: 3px;

  min-width: 50px;
  min-height: 20px;
  border: 1px solid white;
  margin: 3px;
  cursor: pointer;
}

.color-check {
  padding-left: 12px;
}

.color-detail-inner {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.color-detail-scroll {
  display: flex;
  margin-top: 8px;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  background: white;
  border: 1px solid @headerBorderColor;
}

.calendar-table {
  border-top: 1px solid white;
  border-collapse: collapse;
}

.month-label {
  background: white;
  border: 1px double @headerBorderColor;
  border-left: none;
  &.different-year {
    background: @gray4;
  }
}

.week-box {
  // display: flex;
  // flex-direction: row;
  // flex: 1 1;
  &:first-child {
    border-top: none;
  }
}

.day-box {
  // display: flex;
  // flex-direction: column;
  // flex: 1 1;
  border-right: 1px solid @gray4;
  border-bottom: 1px solid @gray4;

  padding: 5px;
  text-align: center;
  background: white;
  cursor: pointer;

  &.last-week {
    border-bottom: 1px double @headerBorderColor;
  }
  &.last-day {
    border-right: 1px double @headerBorderColor;
  }
  &.first-day {
    border-left: 1px solid @headerBorderColor;
  }
  &.selected {
    background: @newgreen1;
    border: 1px double @newgreen1;
    color: white;
  }
  &.different-year {
    background: @gray4;
  }
}
