@import "../../../../global.less";

// field


// detail pane
.color-row {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20px !important;
}

.color-choice {
  height: 20px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex: 1 1;
  border-radius: 2px;
  padding: 0;
  border: 1px solid white;
  margin: 1px;

  cursor: pointer;
  text-align: center;
}

.color-check {
  font-size: 12px;
  color: white;
  line-height: 20px;
  padding: 0 !important;
  margin: 0 !important;
}