@import "../../../../global.less";

.color-row {
  flex-direction: column;
}

.color-choice {
  display: flex;
  flex: 1 1;
  border-radius: 3px;

  min-width: 50px;
  min-height: 20px;
  border: 1px solid white;
  margin: 3px;

  cursor: pointer;
}

.color-check {
  padding-left: 12px;
}

.color-detail-inner {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.color-detail-scroll {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
}

.week-box {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

.day-box {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  border-right: 1px solid @gray4;
  border-bottom: 1px solid @gray4;
  margin: 0;
  padding: 5px;
  text-align: center;
  background: white;

  &.last-week {
    border-bottom: 1px double @headerBorderColor;
  }
  &.last-day {
    border-right: 1px double @headerBorderColor;
  }
  &.first-day {
    border-left: 1px solid @headerBorderColor;
  }
  &.selected {
    background: @newgreen1;
    color: white;
  }
}
