@import "../../../styles/colors.less";

.icon.check {
	position: absolute;
	
	left: -1px;
	margin: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 16px;
	font-size: 14px !important;
	pointer-events: none;
}

.checkbox-surround-checked {
	// background: @green1;
	// color: white;
	color: @green1;
}

.checkbox-surround-selected {
	border: 1px solid @gray3 !important;
}

.checkbox-surround {
	background: white;
	color: @green1;
}

.checkbox-surround, .checkbox-surround-checked {
	border-radius: 3px;
	border: 1px solid transparent;
	z-index: 4;
	
	position: relative;
	display: inline-block;
	max-height: 16px;
	min-height: 16px;
	max-width: 16px;
	min-width: 16px;
	cursor: pointer;
}


// .checkbox-surround  {
	

// 	position: relative;
// 	display: inline-block;
// 	height: 14px;
// 	width: 14px;
	
// 	cursor: pointer;
// 	border-radius: 3px;
// 	border: 1px solid @gray3;
// }
