@import "../../../styles/colors.less";

.icon.check {
	position: absolute;
	
	left: -1px;
	margin: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 16px;
	font-size: 14px !important;
	pointer-events: none;
}

.checkbox-surround-checked {
	// background: @green1;
	// color: white;
	border: 1px solid transparent;
	color: @green1;
}


.checkbox-surround-selected {
	border: 1px solid darken(@gray4,5%) !important;
}


.checkbox-surround-unchecked {
	background: white;
	border: 1px solid transparent;
	color: @green1;
}

.checkbox-surround-clicked {
	background: @gray4 !important;
	// color: white !important;
	border: 1px solid @gray3 !important;
}

.checkbox-surround-unchecked, .checkbox-surround-checked, {
	margin-top: 1px;
	border-radius: 3px;
	
	z-index: 4;
	
	position: relative;
	display: inline-block;
	max-height: 17px;
	min-height: 17px;
	max-width: 17px;
	min-width: 17px;
	cursor: pointer;
}
