@import "../../../../global.less";

.tabular-context-menu {
	padding: 0;
	position: absolute;
	background: @newgreen1;
	font-family: @bodyFont;
	color: white;
	list-style: none;
	z-index: 550;
	display: block;
	font-size: 14px;

	li {
		padding: 5px 10px;
		display: block;
		cursor: pointer;
		border-left: 3px solid @newgreen1;
		color: white;
		&:hover {
			border-left: 3px solid @newgreen1;
		}
	}
}
