@import "../../../../global.less";


.tabular-view-header {
	position: absolute;
}

.tabular-tbody-wrapper {
	position: absolute;
	overflow-x: hidden;
}

.tabular-tbody {
	.noselect;
	background: white;
}

.table-cell {
	.noselect;
	display: block;
	position: absolute;
	padding: 0;
	margin: 1px;
	border: 1px solid @gray3;
	border-bottom: none;
	border-right: none;
	&:last-child {
		border-right: 1px solid @gray3;
	}
	&.sorted	 {
		border-right: 1px solid @newgreen1;
		border-left: 1px solid @newgreen1;
	}
	cursor: cell;
	&.selected {
		// border: 1px solid transparent;
	}
	.transition(max-width cubic-bezier(.16,.85,.5,1) .3s);
	.transition(left cubic-bezier(.16,.85,.5,1) .3s);
}

.table-row {
	display: block;
	position: absolute;
	.transition(top cubic-bezier(.16,.85,.5,1) .3s);
}

// .table-cell:first-child {
// 	border-left: 2px solid white;
// }
.table-cell:last-child {
	border-right: 1px solid @gray3;
}

.columnAdder {
	border: 1px solid @newgreen1 !important;
	cursor: pointer;
	.table-cell-inner {
		text-align: center;
		font-family: @headerFont !important;
		font-weight: 100 !important;
		font-size: 16px !important;
		color: @newgreen1;
		background: white;
	}

	&:hover {

	}

}

.sort-icon {
	margin-left: 5px;
	color: @newgreen1;
	min-width: 5px;
	min-height: 5px;
	padding: 3px;
}

.table-header-cell.table-cell {
	font-style: @headerFont;
	font-weight: 700;
	text-align: center;

	&.asc, &.desc {
		border: 1px solid @newgreen1;
		z-index: 200;
	}
	&.desc > .table-cell-inner {
		// .horizontal-gradient(@green-trans, white);
		color: @newgreen1;
	}
	&.asc > .table-cell-inner {
		// .horizontal-gradient(white, @green-trans);
		color: @newgreen1;
	}
	background: white;

	.table-cell-inner {
		cursor: pointer;
	}
	.table-resizer {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 10px;
		z-index: 201;
		cursor: col-resize;

		&:hover {
			background: @green-trans;
		}

		&.dragging {
			height: 1000px;
			width: 2px;
			background: @red-bright-trans;
		}
	}
}

// .table-header-cell.table-cell:first-child {
// 	border-left: 2px double @steelblue4;
// }
// .table-header-cell.table-cell:last-child {
// 	border-right: 2px double @steelblue4;
// }

.table-cell-inner {
	.noselect;
	.ellipsis;
	&.checkbox-inner {
		padding: 0;
	}
}

.table-cell-inner, .input-editor {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;

	padding: 2px 5px;

	font-size: 14px;
	font-family: @bodyFont;
	font-weight: 400;
	// .transition(width cubic-bezier(.16,.85,.5,1) .3	s);

	background: white;
	opacity: 0%;
}

.input-editor {

}

.table-cell.selected > .table-cell-inner {
	z-index: 125;
	opacity: 100%;
	// background: purple;
	.transition(all cubic-bezier(.16,.85,.5,1) .2	s);
}

.input-editor {
	z-index: 150;
	width: 100%;
	background: white !important;
	outline: 0;
	border: none;
}


.color-block {
	z-index: 150;
	display: block;
	position: absolute;
	left: 5px;
	right: 5px;
	top: 3px;
	bottom: 3px;
	border: 1px solid white;
}

.has-many-bubble {
	cursor: grab;
	display: inline;

	padding: 0px 5px;
	margin-right: 2px;
	margin-left: 0;
	margin-top: 2px;
	margin-bottom: 2px;

	&:hover {

	}

	&.selected {
		background: @newgreen1;
		color: white;
	}
}



.checkbox-surround, .has-many-bubble {
	border-radius: 3px;
	background: white;
	border: 1px solid @gray3;
	z-index: 150;
	&:hover {
		border: 1px solid @newgreen1;
	}
}

.selected .checkbox-surround {
	border: 1px solid @newgreen1;
}


.selection, .copyarea, .pointer, .row-selection {
	z-index: 112;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	pointer-events:none;
}

.selection, .pointer {
	.transition(all cubic-bezier(.16,.85,.5,1) .1s);
}

.copyarea {
	z-index: 131;
}

.selection {
	z-index: 120;
	border: 5px solid white;
	background-color: @gray-trans;
	&.focused {
		cursor: move !important;
	}
}

.row-selection {
	z-index: 112;
	background-color: @gray-trans;
}

.selection-inner {
	background-color: @gray-trans;
	&.focused {
		// background-color: @green-trans;
		// border: 1px solid @newgreen1;
	}
}

.pointer {
	z-index: 130;
	border: 2px solid @gray3;
	&.focused {
		border: 2px solid @newgreen1;
	}
}

// .marching-ants.unfocused {
// 	border: none;
// 	background: @gray-trans;
// 	background-image: -webkit-linear-gradient(left, #fff 50%, @gray-0 50%), -webkit-linear-gradient(left, #fff 50%, @gray-0 50%), -webkit-linear-gradient(top, #fff 50%, @gray-0 50%), -webkit-linear-gradient(top, #fff 50%, @gray-0 50%);
//   background-image: linear-gradient(to right, #fff 50%, @gray-0 50%), linear-gradient(to right, #fff 50%, @gray-0 50%), linear-gradient(to bottom, #fff 50%, @gray-0 50%), linear-gradient(to bottom, #fff 50%, @gray-0 50%);
// }

.marching-ants {
	border: none;
	background-image:
		-webkit-linear-gradient(left, #fff 50%, @newgreen1 50%),
		-webkit-linear-gradient(left, #fff 50%, @newgreen1 50%),
		-webkit-linear-gradient(top, #fff 50%, @newgreen1 50%),
		-webkit-linear-gradient(top, #fff 50%, @newgreen1 50%);
  background-image:
		linear-gradient(to right, #fff 50%, @newgreen1 50%),
		linear-gradient(to right, #fff 50%, @newgreen1 50%),
		linear-gradient(to bottom, #fff 50%, @newgreen1 50%),
		linear-gradient(to bottom, #fff 50%, @newgreen1 50%);
  color: #fff;
	background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
	background-position: 0 0,  0 100%,  0 0,  100% 0;
	background-repeat: repeat-x,  repeat-x,  repeat-y,  repeat-y;
	-webkit-animation: marching-ants-1 2s;
					animation: marching-ants-1 2s;
	-webkit-animation-timing-function: linear;
					animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
	-webkit-animation-play-state: paused;
					animation-play-state: paused;
}

.marching-ants.running {
	-webkit-animation-play-state: running;
					animation-play-state: running;
}

@-webkit-keyframes marching-ants-1 {
  0% {
    background-position: 0 0,  0 100%,  0 0,  100% 0;
  }
  100% {
    background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
  }
}

@keyframes marching-ants-1 {
  0% {
    background-position: 0 0,  0 100%,  0 0,  100% 0;
  }
  100% {
    background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
  }
}
@-webkit-keyframes marching-ants-2 {
  0% {
    background-position: 0 0,  0 100%,  0 0,  100% 0;
  }
  100% {
    background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
  }
}
@keyframes marching-ants-2 {
  0% {
    background-position: 0 0,  0 100%,  0 0,  100% 0;
  }
  100% {
    background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
  }
}
@-webkit-keyframes marching-ants-3 {
  0% {
    background-position: 0 0,  0 100%,  0 0,  100% 0;
  }
  100% {
    background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
  }
}
@keyframes marching-ants-3 {
  0% {
    background-position: 0 0,  0 100%,  0 0,  100% 0;
  }
  100% {
    background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
  }
}
