@import "../../../../global.less";

.model-pane {
	
}


.data-table {
	table-layout: fixed;
	border-collapse: collapse;
	.noselect;
	
	thead {
		.noselect;
		position: absolute;
		top: 0px;
		left: 3px;
		z-index: 10;
	}
	tbody {
		.noselect;
		position: absolute;
		top: 35px;		
		left: 3px;
	}

	tr {
		height: 22px;
		td, th {
			.noselect;
			font-size: 12px;
			color: @gray5;
			overflow: hidden;
  			text-overflow: ellipsis;
  			white-space: nowrap;
  			border-right: 1px solid white;
  			border-left: 1px solid white;
  			border-bottom: 1px solid @gray2;
  			.noselect;
  			cursor: pointer;
  			padding: 0 4px;
  			input[type="checkbox"] {
  				margin: 2px;
  				padding: 0;
  			}
		}

		td {
			background-color: white;
			&.checkbox {
				text-align: center;
			}
		}

		th {
			overflow: visible;
			font-weight: 400;
			background: @gray2;
			height: 30px;
			position: relative;

			&.asc {
				background: @blue-tint-2;
				color: white;
			}
			&.desc {
				background: @blue-tint-2;
				color: white;
			}
			.table-resizer {
				position: absolute;
				z-index: 100;
				right: 0;
				top: 0;
				bottom: 0;
				height: 30px;
				width: 5px;
				cursor: col-resize;
				&:hover {
					background: rgba(20,100,255,0.1);
				}
				&.dragging {
					background: rgba(255,0,0,0.3);
					height: 5000px;
				}
			}
		}
	}
}


.selection {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px dashed @green-tint-1;
	transition: all 50ms ease-in;
	border-radius: 3px;
	background: @gray-trans;
	&.focused {
		background: @green-trans;
	}
}

.pointer {
	z-index: 6;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	transition: all 50ms ease-in;

	border: 2px solid @gray-0;
	&.focused {
		border: 2px solid @green-tint-1;
	}
	// .box-shadow(0px 0px 10px hsla(255, 90%, 20%, 50%));
}

.input-editor {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	min-width: 10px;
	width: 100%;
	background: white;
	margin: 0;
	border: none;
	font-size: 12px;
	font-family: @bodyFont;
	outline: 0;
}

div.loading-banner {
	z-index: 30;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: right;
	opacity: 50%;
	padding: 3px;
	padding-left: 20px;
	background: @green-bright;
	color: white;
}