@import "../../../../global.less";

.tabular-view-header {
	position: absolute;
	overflow: hidden;
	.transition(margin-left cubic-bezier(.16,.85,.5,1) .2s);
}

.rhs-header .table-cell {
	z-index: 200;
	border-left: 1px solid @purple4;
}

.lhs-header .table-cell {
	z-index: 201;
}

.th-context {
  font-style: @bodyFont !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  position: absolute;
  left: 0;
  top: 10px;
	min-width: 250px;
}


.columnAdder {
	cursor: pointer;
	border: 1px solid @headerBorderColor;
	&:hover {
		border: 1px solid @newgreen1;
		color: @newgreen1;
	}
	.table-cell-inner {
		text-align: center;
		font-family: @headerFont !important;
		font-weight: 100 !important;
		font-size: 16px !important;
		background: white;
	}
}

.table-header-cell.table-cell {
	border-bottom: 1px solid @purple4;
	border-top: none;
	border-left: 1px solid @gray3;
	background: white;

	&:first-child {
		border-left: none;
	}
	.context {
		z-index: 300;
	}
	&.asc, &.desc {
		border: 1px solid @newgreen1;
	}
	&.desc > .table-cell-inner, &.asc > .table-cell-inner {
		// .horizontal-gradient(@green-trans, white);
		color: @newgreen1;
	}
	.table-cell-inner {
		cursor: pointer;
	}
	.table-resizer {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 10px;
		z-index: 203;
		cursor: col-resize;

		&:hover {
			background: @green-trans;
		}

		&.dragging {
			height: 1000px;
			width: 2px;
			background: @red-bright-trans;
		}
	}
}

.explainer-box {
	font-family: @bodyFont;
	font-size: 13px;
	border-radius: 3px;
	position: fixed;
	background: black;
	color: white;
	.bottom {
		top: 0;
	}
	.right {
		right: 0;
	}
}
