@import "../../../../global.less";

.icon.check {
	position: absolute;
	left: -2px;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 14px;
	font-size: 11px !important;
	pointer-events: none;
}

.checkbox-surround {
	position: relative;
	display: inline-block;
	max-height: 14px;
	min-height: 14px;
	max-width: 14px;
	min-width: 14px;
	cursor: pointer;
}
