@import "../../../../global.less";

.icon.check {
	position: absolute;
	left: 0px;
	top: -6px;
}


.checkbox-surround {
	position: relative;
	display: inline-block;
	max-height: 14px;
	min-height: 14px;
	max-width: 14px;
	min-width: 14px;
	cursor: pointer;
}
