@import "../../global.less";


.height-transition {
  .transition(all cubic-bezier(.1,.85,.5,1) 150ms);
}

.notification-bar {
  border-top: 1px solid blue;
  .transition(all cubic-bezier(.1,.85,.5,1) 150ms);
  background: white;
}

.note-item {
  display: flex;
  font-size: 12px;
  line-height: 10px;
  max-height: 49px;
  min-height: 49px;
  height: 49px;
  
  p {
  	padding: 0;
  	margin: 6px;
  }
  border-bottom: 1px solid transparent;
  .transition(all cubic-bezier(.1,.85,.5,1) 150ms);
}

.note-error-item {
  background: @red-bright;
  color: @lightFontColor;
}

.warning-item {
  background: orange;
  color: @lightFontColor;
}

.note-success-item {
  color: @green1;
}

.note-pending-item {
  color: @gray2;
}

.note-info, .note-loading {
  color: @blue1;
}

.note-short-left-column {
  padding: 0 10px;
  text-align: center;
  line-height: 25px;
}

.note-left-column {
	padding: 0 10px;
	text-align: center;
	line-height: 50px;
}

.note-middle-column {
	flex-grow: 2;
	text-align: left;
}

.note-short-right-column {
  flex: 1;
  flex-grow: 0;
  text-align: center;
}

.note-right-column {
  padding-right: 5px;
	flex: 1;
	flex-grow: 0;
	text-align: center;
}