@import "../../global.less";

.detail-bar {
  position: absolute;
  width: 250px;
  padding: 10px;
  display: flex;
  background: @headerBgColor;
  border-left: 1px solid @menuBorderColor;
  z-index: 500;
  margin: 0;
}
