@import "../../global.less";


.detail-hider {
  position: absolute;
  top: 2px;
  right: 0;
  margin-right: 0;
  height: 10px;
  width: 30px;
  border-radius: 0 3px 3px 0;
  padding: 8px 5px;
  background-color: @gray-3;
  color: @cream;
  z-index: 200;
  text-align: left;
  .transition(all 200ms ease-in);
}

.detail-bar:hover .detail-hider {
	margin-right: -25px;
}

.detail-block {
	display: block;
	margin-bottom: 10px;
}

.detail-row {
	display: flex;
	flex-flow: columns nowrap;
	box-sizing: border-box;
	padding: 0;
	list-style: none;
	&.selector {
		background: @pureGray4;
		flex-flow: columns wrap;
	}
}

.detail-cell {
	&.label {order: 1}
	&.value {order: 2}
	&.centered {text-align: center}
	padding: 5px 0;
	box-sizing: border-box;
	display: block;
	flex: 1;
	flex-grow: 1;
}

.banner {
	display: block;
	padding: 5px;
	font-size: 10px;
	margin-top: 10px;

	&.warning {
		border: 1px solid gold;
		color: gold;
	}
}


ul.detail-panels {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	padding: 10px;
	padding-top: 0;
	background-color: @gray-3;
	z-index: 220;

	li {
		.clickable;
		flex-direction: column;
		width: 100vh;
		font-weight: 400;
		margin: 0;
		h2, h3, h4, h5 {
			padding: 5px;
			padding-left: 0;
			margin: 0;
			&:hover {
				border-color: @gray-2;	
			}
			&.active {
				border-color: @green-tint-1;
			}
		}

		
	}
}

.model-details, .view-details {
	flex-direction: column;
	color: @cream;
	font-weight: 400;
	font-size: 14px;
	overflow-y: scroll;
	display: flex;
	padding: 10px;
	&.hidden {
		display: none;
	}
}


.detail-bar {
	flex: 0 0 350px;
	height: 100vh;	
	display: flex;
	flex-direction: column;
	overflow: visible;
	position: relative;
	order: -1;
	background: @gray-3;
	
	h2 {
		font-size: 17px;
		border-bottom: 1px solid @gray-2;	
	}
	
	h3 {
		font-size: 17px;
		border-bottom: 1px solid @gray-2;	
	}

	h2, h3, h4, h5 {
		display: block;
		color: @cream;
		font-weight: 400;
		padding: 5px;
		margin-bottom: 1px;
		margin-top: 20px;
		padding-bottom: 8px;
	}

	.detail-table {
		width: 100%;
		border-collapse: collapse;
		color: @cream;
		font-size: 13px;

		td, th {
			padding: 6px 2px;
		}
		td {
			
			input {
				border: none;
				border-bottom: 1px solid @pureGray1;
				background: none;
				font-size: 13px;
				font-family: "Neue Haas Unica Thin", "Helvetica", sans-serif;
				color: @cream;
				width: 100%;
				outline: 0;
				padding: 0;
				margin: 0;
			}
		}
		th {
			text-align: left;
			border-bottom: 1px solid @gray-2;	
			font-weight: 400;
		}
		th {

		}

		tr:last-child > td {
			border-bottom: 1px solid @gray-2;	
		}
	}

	a.new-attr {
		color: @cream;
		cursor: pointer;
	}
}

